<div id="blog">
    <div class="container">
        <button type="button" ng-click="editPost(post)" ng-if="authorized" ng-hide="editing">Edit</button>
        <alert type="{{ alert.type }}" ng-if="alert" close="closeAlert($index)">{{ alert.message }}</alert> 
        <form ng-submit="saveEdits()" ng-show="editing">
            <input type="text" id="postTitle" ng-model="post.title" ng-disabled="saving" placeholder="Title" autofocus>
            <textarea id="postBody" ng-model="post.body" ng-disabled="saving" ng-tab="insertTab()" placeholder="Message"></textarea>
            <input type="text" id="postTags" ng-model="post.tags" ng-disabled="saving" placeholder="Tags (separate with spaces)">
            <button type="submit">Save</button>
            <button type="button" class="btn-default" ng-click="cancelEdits()">Cancel</button>
        </form>
        <div class="post-wrapper">
            <div class="view">
                <h2>{{ post.title }}</h2>
                <span class="timestamp">{{ moment(post.created_at).format('MMMM Do, YYYY') }}</span> &dash;
                <ul class="tags inline-bullets">
                    <li ng-repeat="tag in post.tags.split(' ')">
                        <a>{{ tag }}</a>
                    </li>
                </ul>
                <div class="post-body" ng-if="post" ng-bind-html="markdown.toHTML(post.body)"></div>
            </div>
        </div>
    </div>
</div>