<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="post-wrapper">
            <div class="view">
                <h2>{{ post.title }}</h2>
                <div class="post-body" ng-if="post" ng-bind-html="markdown.toHTML(post.body)"></div>
                <div class="post-footer">
                    <ul class="tags inline-bullets">
                        <li ng-repeat="tag in post.tags.split(' ') track by $index">
                            <a>{{ tag }}</a>
                        </li>
                    </ul>
                    <div>{{ moment(post.created_at).format('MMMM Do, YYYY') }}</div>
                    <a ui-sref="blog.roll">More Entries...</a>
                    <hr>
                    <ul class="comments">
                        <li>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" ng-click="editPost(post)" ng-if="authorized" ng-hide="editing" class="btn btn-success">Edit</button>
        <alert type="{{ alert.type }}" ng-if="alert" close="closeAlert($index)">{{ alert.message }}</alert> 
        <form ng-submit="saveEdits()" ng-show="editing">
            <input type="text" id="postTitle" ng-model="post.title" ng-disabled="saving" placeholder="Title" class="form-control" autofocus>
            <textarea id="postBody" ng-model="post.body" ng-disabled="saving" ng-tab="insertTab()" placeholder="Message" class="form-control"></textarea>
            <input type="text" id="postTags" ng-model="post.tags" ng-disabled="saving" placeholder="Tags (separate with spaces)" class="form-control">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelEdits()">Cancel</button>
        </form>
    </div>
</div>