<div class="row">
    <div class="col-sm-3">
        <p>Welcome to my humble blog. Posts may range from detailed technical articles to travel stories to life updates, whatever I think might be worth sharing :)</p>
        <dl>
            <dt>Last Post</dt>
            <dd class="smaller">{{ posts[0] ? moment(posts[0].created_at).fromNow() : 'n/a' }}</dd>
        </dl>
        <hr>
        <label>Tags</label>
        <ul class="tags inline-bullets">
            <li ng-repeat="(tag, occurrences) in usedTags | orderBy:'occurrences'">
                <a>{{ tag }}</a>
                <span class="occurrences">[{{ occurrences }}]</span>
            </li>
        </ul>
        <hr class="visible-sm-*">
    </div>
    <div class="col-sm-9">
        <div ng-if="authorized" class="panel">
            <form id="blogForm" ng-submit="addPost()">
                <input type="text" id="postTitle" ng-model="newPost.title" ng-disabled="saving" placeholder="Title" class="form-control" autofocus>
                <textarea id="postBody" ng-model="newPost.body" ng-disabled="saving" ng-tab="insertTab()" placeholder="Message" class="form-control"></textarea>
                <input type="text" id="postTags" ng-model="newPost.tags" ng-disabled="saving" placeholder="Tags (separate with spaces)" class="form-control">
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
            <div class="post-body" ng-if="newPost" ng-bind-html="markdown.toHTML(newPost.body)"></div>
        </div>
        <ul id="blogPosts" infinite-scroll="loadMore()">
            <li ng-repeat="post in posts">
                <div class="post-wrapper panel">
                    <div class="view">
                        <h3><a ui-sref="blog.post({ slug: post.slug })">{{ post.title }}</a></h3>
                        <div class="post-body" ng-if="post">{{ shortPost(post.body) }}</div>
                        <a ui-sref="blog.post({ slug: post.slug })" class="button">Read More</a>
                        <div class="post-footer">
                            <ul class="tags inline-bullets">
                                <li ng-repeat="tag in post.tags.split(' ') track by $index">
                                    <a>{{ tag }}</a>
                                </li>
                            </ul>
                            <div>{{ moment(post.created_at).format('MMMM Do, YYYY') }}</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>