<div id="hots">
    <div class="row">
        <div class="col-md-6">
            <h3 i18n="hots.careerTitle"></h3>
            <dl>
                <dt i18n="hots.heroLeagueLabel"></dt>
                <dd>{{ hotsProfile.heroLeague.league }}<br>(MMR: {{ hotsProfile.heroLeague.mmr }})</dd>
                <dt i18n="hots.quickMatchLabel"></dt>
                <dd>{{ hotsProfile.quickMatch.league }}<br>(MMR: {{ hotsProfile.quickMatch.mmr }})</dd>
                <dt i18n="hots.combinedHeroLevelLabel"></dt>
                <dd>{{ hotsProfile.combinedHeroLevel }}</dd>
                <dt i18n="hots.totalGamesPlayedLabel"></dt>
                <dd>{{ hotsProfile.totalGamesPlayed }}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</div>