.overlay {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2)
}

.dom-logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
.dom-logo > span,
.dom-logo > span:after {
    display: block;
    position: absolute;
    background: #00abff;
    border-style: solid;
    border-color: #0083C3;
}
.dom-logo > span {
    animation-duration: 1.5s;
}
.dom-logo > span:nth-child(1) {
    top: 0;
    left: 0;
    right: 75%;
    bottom: 0;
    border-width: 1px;
    animation-name: slideInLeftAbsolute;
    background: #2bbbff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #2bbbff 0%, #00abff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #2bbbff 0%,#00abff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #2bbbff 0%,#00abff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bbbff', endColorstr='#00abff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.dom-logo > span:nth-child(2) {
    top: 0;
    left: 35%;
    right: 35%;
    bottom: 0;
    border-width: 1px;
    animation-name: slideInDownAbsolute;
}
.dom-logo > span:nth-child(2):after {
    content: '';
    width: 130%;
    height: 25%;
    left: 100%;
    bottom: -1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    background: #00abff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #00abff 1%, #00abff 39%, #1cb7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #00abff 1%,#00abff 39%,#1cb7ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #00abff 1%,#00abff 39%,#1cb7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abff', endColorstr='#1cb7ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.dom-logo > span:nth-child(3) {
    top: 0;
    left: 75%;
    right: 0;
    bottom: 35%;
    border-width: 1px;
    animation-name: slideInRightAbsolute;
    background: #00abff; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #00abff 1%, #2bbbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #00abff 1%,#2bbbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #00abff 1%,#2bbbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abff', endColorstr='#2bbbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
@keyframes slideInRightAbsolute {
  0% {
    transform: translateX(1200px);
    visibility: visible;
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeftAbsolute {
  0% {
    transform: translateX(-1200px);
    visibility: visible;
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInDownAbsolute {
  0% {
    transform: translateY(-400px);
    visibility: visible;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#home .button {
    display: inline-block;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    background: #454545;
    color: #00abff;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-bottom: 4px solid #00abff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#home .button:hover {
    background: #00abff;
    color: #fff;
    border-color: #337ab7;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#home section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 40px 0;
    z-index: 25;
}
#home section#header {
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    color: #efefef;
    background: #454545 url(/assets/images/backdrop.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    z-index: 5;
}
#home section#header .video-splash {
    position: fixed;
    top: 50px;
    width: 100%;
}
#home section#header #intro {
    margin-top: 80px;
}
#home section#header h1 {
    font-size: 3em;
}
#home section#header .scroll-down {
    position: absolute;
    left: calc(50% - 18px);
    top: calc(100vh - 200px);
    cursor: pointer;
    font-size: 3em;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@-webkit-keyframes bounce {
    0%, 10%, 26%, 40%, 50% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    20%, 22% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    35% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    45% {
        transform: translate3d(0,-4px,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes bounce {
    0%, 10%, 26%, 40%, 50% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    20%, 22% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    35% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    45% {
        transform: translate3d(0,-4px,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

#home #main {
    background: #efefef;
}
#home #main h3 {
    margin-bottom: 40px;
}
#home #about {
    padding: 0;
    background: #606468;
}
#home #about .row {
    display: flex;
}
#home #about .row > div {
    display: flex;
    flex-direction: column;
}
#home #about .row > div > .major-link {
    flex: 1;
}

#home .posts {
    padding: 0;
    margin: 0;
    list-style: none;
}
#home .posts li {
    margin-bottom: 10px;
}
#home .posts li:last-child {
    margin-bottom: 0;
}


#main .row {
    margin-bottom: 20px;
}
#main .title {
    display: block;
    text-transform: uppercase;
    text-align: right;
}
.social-icons {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
.social-icons li {
    display: inline-block;
}
.social-icons a {
    margin-right: 20px;
}
.social-icons a span {
    position: absolute;
    font-size: 0.8em;
    margin-top: -65px;
}
.social-icons li:nth-child(even) a span {
    margin-top: -5px;
}
.social-icons a .fa {
    color: #999;
    font-size: 2.4em;
    margin: -0.1em 0.5em 0 0;
}
.social-icons a:hover .fa {
    color: #00abff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.social-icons .fa:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    box-sizing: content-box;
}

.social-icons .fa:before {
    text-transform: none;
    display: block;
}

.social-icons a .fa {
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

.social-icons a .fa:after {
    display: none;
}

.social-icons a:hover .fa:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

.social-icons a:hover .fa:before {
    -webkit-animation: toBottomFromTop 0.3s forwards;
    -moz-animation: toBottomFromTop 0.3s forwards;
    animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
    49% {
        -webkit-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toBottomFromTop {
    49% {
        -moz-transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toBottomFromTop {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

#home #about {
    height: 400px;
    overflow: hidden;
}
#home #about p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
#home #about .row > div {
    padding: 0;
}
#home #about a.major-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 30px 20px;
    overflow: hidden;
    color: #efefef;
    transition: all .2s ease-in-out;
    border-style: solid;
    border-width: 0;
    border-top-width: 15px;
}
#home #about .col-md-4:nth-child(1) a.major-link {
    border-color: #18B618;
}
#home #about .col-md-4:nth-child(2) a.major-link {
    border-color: #E09712;
}
#home #about .col-md-4:nth-child(3) a.major-link {
    border-color: #2B80FF;
}
#home #about a.major-link:hover {
    border-top-width: 5px;
    background: #55585C;
}
#home #about a.major-link .link-desc {
    text-align: center;
    transition: all .2s ease-in-out;
}
#home #about a.major-link:hover .link-desc {
    transform: translateY(-10px);
}
#home #about a.major-link .link-action {
    height: 80px;
    color: #00abff;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    transition: all .2s ease-in-out;
}
#home #about a.major-link .link-action .fa {
    margin-left: 5px;
}
#home #about a.major-link:hover .link-action {
    opacity: 1;
    transform: translateY(0);
}

#home #projects {
    background: #22262b;
    box-shadow: inset 0 80px 150px rgba(0,0,0,.4);
    overflow: hidden;
}

#home #projects h1 {
    position: relative;
    top: -120px;
    left: -80px;
    font-size: 5em;
    color: #444;
    text-transform: uppercase;
    -webkit-transform: rotateX(55deg) rotateZ(-30deg);
    transform: rotateX(55deg) rotateZ(-30deg);
}
#home #projects .project-wrapper {
    position: relative;
    float: left;
    margin: 0 8.2% 20px 0;
    vertical-align: top;
    height: 180px;
    width: 25%;
}
#home #projects .project-wrapper.first-row {
    left: -20px;
}
#home #projects .project-wrapper.second-row {
    top: -60px;
    left: 120px;
}
#home #projects .project {
    display: inline-block;
    position: relative;
    top: -40px;
    left: 20px;
    width: 240px;
    height: 240px;
    z-index: 10;
    background: #999 no-repeat top center;
    background-size: 100%;
    box-shadow: -10px 10px 60px rgba(0,0,0,.7);
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateX(60deg) rotateZ(-35deg) translateZ(-20px);
    transform: rotateX(60deg) rotateZ(-35deg) translateZ(-20px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover .project {
    box-shadow: -35px 35px 90px rgba(0,0,0,.4);
    -webkit-transform: rotateX(60deg) rotateZ(-35deg) translateZ(5px);
    transform: rotateX(60deg) rotateZ(-35deg) translateZ(5px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover {
    z-index: 20;
}
#home #projects .project .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    color: #efefef;
    background: rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project-wrapper:hover .project .overlay {
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project .title {
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover .project .title {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project .desc {
    width: 100%;
    height: 100px;
    margin-top: 140px;
    padding: 10px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project:hover .desc {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project .controls {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project .controls .fa {
    display: inline-block;
    margin-right: 5px;
}
#home #projects .project .controls a {
    font-size: 1.1em;
    margin-right: 10px;
}
#home #projects .project .controls a:last-child {
    margin-right: 0;
}
#home #projects .project:hover .controls {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}


#contact {
    font-size: 1.6em;
    text-transform: uppercase;
    background: #22262b;
}
#contact h3 {
    font-size: 2em;
}
#contact .contact-info {
    white-space: nowrap;
    overflow: visible;
    margin-top: 1em;
}
#contact .contact-info > div {
    margin-bottom: 0.8em;
    font-size: 1.4em;
    color: #00abff;
}
#contact .contact-info > label {
    margin-top: -2.2em;
    font-size: 0.6em;
    color: #888;
}
#contact .map {
    width: 100%;
}

.home-icon {
    position: absolute;
    color: orangered;
    font-size: 0.9em;
    border-radius: 50%;
    line-height: 20px;
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
    background: transparent;
    text-shadow: 0 0 2px black;
    -webkit-animation: beacon 1.5s ease-in infinite;
    animation: beacon 1.5s ease-in infinite;
}
@-webkit-keyframes beacon {
  0% {
    background: rgba(255,40,0,0.3);
    border: 1px solid orangered;
    box-shadow: 0 0 3px orangered;
  }
  50% {
    background: rgba(255,40,0,0);
    margin-top: -43px;
    margin-left: -28px;
    padding: 32px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px transparent;
  }
  100% {
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
  }
}
@keyframes beacon {
  0% {
    background: rgba(255,40,0,0.3);
    border: 1px solid orangered;
    box-shadow: 0 0 3px orangered;
  }
  50% {
    background: rgba(255,40,0,0);
    margin-top: -43px;
    margin-left: -28px;
    padding: 32px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px transparent;
  }
  100% {
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
  }
}

/*
 * MEDIA QUERIES
 */
 
/* desktop */
@media only screen and (max-width: 1200px) {
    #home #projects .project {
        width: 220px;
        height: 220px;
    }
    #home #projects .project-wrapper.second-row {
        top: -40px;
        left: 60px;
    }
}

/* tablet */
@media only screen and (max-width: 991px) {
    #home #about {
        height: auto;
    }
    #home #about a.major-link .link-action {
        height: auto;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #home section {
        padding: 30px 0;
    }
    #home section#header h1 {
        margin-top: 30px;
    }
    #home .profile-photo {
        margin: 50px auto;
    }
    #main .title {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    .social-icons {
        font-size: 1.2em;
    }
    .social-icons a .fa {
        margin: 0 0.3em 0 0;
    }
    .social-icons a span {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-top: 5px !important;
        font-size: 1.4em;
    }
    .social-icons li {
        display: block;
        margin-left: 2px;
    }
    .social-icons li:first-child {
        margin-left: 0;
    }
    #home #about {
        padding: 0;
    }
    #home #about a.major-link {
        padding: 10px;
        transition: none;
    }
    #home #about a.major-link:hover {
        transition: none;
    }
    #home #about a.major-link .link-desc {
        transform: translateY(-10px);
        transition: none;
    }
    #home #about a.major-link:hover .link-desc {
        transition: none;
    }
    #home #about a.major-link .link-action {
        opacity: 1;
        transform: none;
        transition: none;
    }
    #home #about a.major-link:hover .link-action {
        transition: none;
    }
    
    #home #about .row {
        display: block;
    }
    #home #about .row > div {
        display: block;
    }

    #home #projects h1 {
        left: 0;
        top: 0;
        font-size: 3em;
        margin-bottom: 20px;
        -webkit-transform: none;
        transform: none;
    }

    #projects .project-wrapper {
        width: 98% !important;
        height: 260px !important;
        margin: 0 1% 20px !important;
        left: 0 !important;
        top: 0 !important;
    }
    #home #projects .project {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project {
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper .project .overlay {
        opacity: 1;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project .overlay {
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper .project .title {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project .title {
        -webkit-transition: none;
        transition: none;
    }
    #contact .contact-info > div {
        font-size: 1.0em;
    }
    #contact .contact-info > label {
        margin-top: -1.6em;
    }
    #contactMap {
        height: 240px;
        margin: 0;
    }
}