<div id="home">
    <section id="header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="intro">
                            <div class="dom-logo">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <h3 class="intro-text">
                                <p class="animated fadeIn delay-short" i18n="home.intro1"></p>
                                <p class="animated fadeIn delay-medium" i18n="home.intro2"></p>
                                <p class="animated fadeIn delay-long" i18n="home.intro3"></p>
                            </h3>
                        </div>
                        <i ng-click="scrollDown()" class="fa fa-arrow-circle-o-down scroll-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="main">
        <div class="container">
            <h3 i18n="home.description"></h3>
            <div class="row">
                <div class="col-sm-5">
                    <span i18n="home.socialTitle" class="title"></span>
                </div>
                <div class="col-sm-7">
                    <ul class="social-icons">
                        <li>
                            <a href="https://www.flickr.com/photos/128441783@N07/" ng-click="trackClickEvent('flickr')" title="{{ 'home.flickrDescription' | i18n }}" target="_blank">
                                <i class="fa fa-flickr"></i>
                                <span>Flickr</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com/ianlamb32/" ng-click="trackClickEvent('instagram')" title="{{ 'home.instagramDescription' | i18n }}" target="_blank">
                                <i class="fa fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/ianmlamb" ng-click="trackClickEvent('facebook')" title="{{ 'home.facebookDescription' | i18n }}" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Ian_Lamb" ng-click="trackClickEvent('twitter')" title="{{ 'home.twitterDescription' | i18n }}" target="_blank">
                                <i class="fa fa-twitter-square"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://lnkd.in/vDaVpa" ng-click="trackClickEvent('linkedin')" title="{{ 'home.linkedInDescription' | i18n }}" target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                                <span>LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/+IanLamb32" ng-click="trackClickEvent('gplus')" title="{{ 'home.googlePlusDescription' | i18n }}" rel="me" target="_blank">
                                <i class="fa fa-google-plus-square"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/ianlamb" ng-click="trackClickEvent('github')" title="{{ 'home.githubDescription' | i18n }}" target="_blank">
                                <i class="fa fa-github-square"></i>
                                <span>Github</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <span i18n="home.blogTitle" class="title"></span>
                </div>
                <div class="col-sm-7">
                    <ul class="posts">
                        <li ng-repeat="post in posts">
                            <a ui-sref="blog.post({ slug: post.slug })" class="link">{{ post.title }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="/resume" class="major-link">
                        <div class="link-desc">
                            <h2 i18n="home.careerTitle"></h2>
                            <p i18n="home.careerDescription"></p>
                            <div class="link-action">{{ 'home.careerAction' | i18n }} <i class="fa fa-play"></i></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/adventure" class="major-link">
                        <div class="link-desc">
                            <h2 i18n="home.adventureTitle"></h2>
                            <p i18n="home.adventureDescription"></p>
                            <div class="link-action">View Adventures <i class="fa fa-play"></i></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/gaming" class="major-link">
                        <div class="link-desc">
                            <h2 i18n="home.gamingTitle"></h2>
                            <p i18n="home.gamingDescription"></p>
                            <div class="link-action">View Game Stats <i class="fa fa-play"></i></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 i18n="home.contactTitle"></h1>
                    <div class="contact-info">
                        <div ng-bind="contact.location.name"></div>
                        <label i18n="home.contactLocationLabel"></label>
                        <div ng-bind="contact.phone"></div>
                        <label i18n="home.contactPhoneLabel"></label>
                        <div>
                            <a href="mailto:{{ contact.email }}" class="social-anchor" ng-bind="contact.email"></a>
                        </div>
                        <label i18n="home.contactEmailLabel"></label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <img src="/assets/images/pixelMap.svg" class="map" alt="world map showing location" />
                </div>
            </div>
        </div>
    </section>
</div>
