<div id="about">
    <div class="container">
        <h2>Me</h2>
        <div class="row">
            <div class="col-md-12">
                <p>I created this website to truly demonstrate my passion for web development, since most of my full-time jobs have had me working on internal tools. There are four extremely important aspects to my life:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <h4>Personal</h4> My family and friends are the most crucial to my success and happiness. I wouldn't be where I am today without their love and companionship.
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Professional</h4> I have a great drive to succeed as a world-class creator of web experiences. "It works" isn't good enough for me. Pixel perfect and flawless user experience are guidelines I work by.
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Adventurer</h4> I get very anxious around the idea of doing the same thing every day. My favourite hobbies are the ones that let me experience life in the raw form and give me memories that I won't soon forget.
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Gamer</h4> Everyone needs some downtime once in a while or you burn out. Fast. Games are my way of balancing my life out and keeping a level head.
            </div>
        </div>
        <h2>The Website</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Summary</h4>
                <p>All of the info seen on this website is "live" data. Services are polled through-out the day for external data and anything else (like climbing sessions) are input myself through my own management system. The data is always changing and I'm hoping after some time I will be able to generate more analytics with it.</p>
            </div>
            <div class="col-md-6">
                <h4>Privacy</h4>
                <p>The nature of this website is that I am displaying a lot of information about myself. Yes, I am okay with this. I believe this day and age that we live in an open world with endless opportunity to connect with people and share your life experiences.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Technology Stack</h3>
                <ul>
                    <li><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
                    <li><a href="http://nodejs.org/">Node.js</a></li>
                    <li><a href="http://www.mongodb.org/">MongoDB</a></li>
                </ul>
                <h3>Frameworks</h3>
                <ul>
                    <li><a href="https://angularjs.org/">Angular</a></li>
                    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="http://expressjs.com/">Express</a></li>
                    <li><a href="http://mongoosejs.com/">Mongoose ODM</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="http://jquery.com/">jQuery</a></li>
                    <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
                    <li><a href="http://jvectormap.com/">jVectorMap</a></li>
                    <li><a href="http://www.chartjs.org/">Chart.js</a></li>
                    <li><a href="http://momentjs.com/">Moment</a></li>
                </ul>
                <h3>Tools</h3>
                <ul>
                    <li><a href="https://www.npmjs.com/">NPM</a></li>
                    <li><a href="http://bower.io/">Bower</a></li>
                    <li><a href="https://github.com/foreverjs/forever">Forever</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Services and APIs</h3>
                <ul>
                    <li><a href="https://www.digitalocean.com/">Digital Ocean</a></li>
                    <li><a href="https://www.flickr.com/services/api/">Flickr</a></li>
                    <li><a href="http://www.mapquestapi.com/geocoding/">MapQuest Geocoding</a></li>
                    <li><a href="http://blizzard.github.io/api-wow-docs/">World of Warcraft</a></li>
                    <li><a href="http://blizzard.github.io/d3-api-docs/">Diablo 3</a></li>
                    <li><a href="http://blizzard.github.io/api-sc2-docs/">Starcraft 2</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>