<div id="adventure">
    <div class="header-image"></div>
    <div id="subNav">
        <div class="container">
            <ul>
                <li class="{{ state.name == 'adventure.travel' ? 'selected' : '' }}">
                    <a ui-sref=".travel">Travel</a>
                    <div class="underline"></div>
                </li>
                <li class="{{ state.name == 'adventure.climb' ? 'selected' : '' }}">
                    <a ui-sref=".climb">Climbing</a>
                    <div class="underline"></div>
                </li>
                <!-- <li class="{{ tab == 'activity' ? 'selected' : '' }}">
                    <a href="/adventure/activity">Activity</a>
                    <div class="underline"></div>
                </li> -->
                <li class="{{ state.name == 'adventure.bucket-list' ? 'selected' : '' }}">
                    <a ui-sref=".bucket-list">Bucket List</a>
                    <div class="underline"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div ui-view></div>
    </div>
</div>