<div id="adventure">
    <div class="header-image"></div>
    <div class="container">
        <div class="row">
            <div id="sideNav" class="col-lg-2 col-md-3">
                <a class="title">Adventure</a>
                <ul>
                    <li><a href="/adventure/travel" class="{{ tab == 'travel' ? 'selected' : '' }}">Travel</a></li>
                    <li><a href="/adventure/climb" class="{{ tab == 'climb' ? 'selected' : '' }}">Climb</a></li>
                    <li><a href="/adventure/activity" class="{{ tab == 'activity' ? 'selected' : '' }}">Activity</a></li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-9">
                <ng-switch on="tab">
                  <div ng-switch-when="travel">
                      <travel-section></travel-section>
                  </div>
                  <div ng-switch-when="climb">
                      <climb-section></climb-section>
                  </div>
                  <div ng-switch-when="activity">
                      <activity-section></activity-section>
                  </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>