<div id="adventure">
    <div class="header-image"></div>
    <div id="subNav">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/adventure/travel" class="{{ tab == 'travel' ? 'selected' : '' }}">Travel</a>
                </div>
                <div class="col-md-3">
                    <a href="/adventure/climb" class="{{ tab == 'climb' ? 'selected' : '' }}">Climbing</a>
                </div>
                <!-- <div class="col-md-3">
                    <a href="/adventure/vehicles" class="{{ tab == 'vehicles' ? 'selected' : '' }}">Vehicles</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ng-switch on="tab">
                  <div ng-switch-when="travel">
                      <travel-section></travel-section>
                  </div>
                  <div ng-switch-when="climb">
                      <climb-section></climb-section>
                  </div>
                  <div ng-switch-when="vehicles">
                      <vehicle-section></vehicle-section>
                  </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>