<div id="developer">
    <div class="header-image"></div>
    <div class="container">
        <div class="row">
            <div id="sideNav" class="col-lg-2 col-md-3">
                <a class="title">Developer</a>
                <ul>
                    <li><a href="/developer/projects" class="{{ tab == 'projects' ? 'selected' : '' }}">Projects</a></li>
                    <li><a href="/developer/resume" class="{{ tab == 'resume' ? 'selected' : '' }}">Resume</a></li>
                </ul>
            </div>
            <div class="col-lg-10 col-md-9">
                <ng-switch on="tab">
                  <div ng-switch-when="projects">

                  </div>
                  <div ng-switch-when="resume">

                  </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>