<div id="gaming">
    <div class="header-image"></div>
    <div id="subNav">
        <div class="container">
            <ul>
                <li class="{{ tab == 'wow' ? 'selected' : '' }}">
                    <a href="/gaming/wow">World of Warcraft</a>
                    <div class="underline"></div>
                </li>
                <li class="{{ tab == 'diablo' ? 'selected' : '' }}">
                    <a href="/gaming/diablo">Diablo 3</a>
                    <div class="underline"></div>
                </li>
                <li class="{{ tab == 'starcraft' ? 'selected' : '' }}">
                    <a href="/gaming/starcraft">Starcraft 2</a>
                    <div class="underline"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ng-switch on="tab">
                  <div ng-switch-when="wow">
                      <wow-section></wow-section>
                  </div>
                  <div ng-switch-when="diablo">
                      <diablo-section></diablo-section>
                  </div>
                  <div ng-switch-when="starcraft">
                      <starcraft-section></starcraft-section>
                  </div>
                  <div ng-switch-when="steam">
                      <steam-section></steam-section>
                  </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>