<div id="home">
    <section id="header">
        <div class="overlay">
            <div class="container">
                <img src="images/profile-photo-146.jpg" class="profile-photo animated fadeIn" />
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div id="intro">
                            <h1 class="animated fadeIn delay-short">Hi! My name is Ian and I craft websites.</h1>
                        </div>
                        <i class="fa fa-arrow-circle-o-down scroll-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="connect">
        <div class="container">
            <div class="panel">
                <span class="title">Connect with me</span>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.flickr.com/photos/128441783@N07/" title="My photo albums from various adventures" target="_blank">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/ianlamb32/" title="Random snaps from my daily life" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ianmlamb" title="Keep in touch on a personal basis" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Ian_Lamb" title="I mostly tweet about technology, interesting facts and beer" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://lnkd.in/vDaVpa" title="Potential business partner? Let's connect!" target="_blank">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+IanLamb32" title="Do people still use this?" rel="me" target="_blank">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ianlamb" title="All of my code projects and contributions" target="_blank">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <!-- <h2 class="headline">I specialize in <i>simple</i>, <i>intuitive</i> and <i>functional</i> web applications.</h2> -->
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <i class="fa fa-cogs"></i>
                        <p>I am a Web UI Developer at Cineplex Digital Networks where we provide the world's leading digital in-store platforms to enterprise clients.</p>
                    </div>
                    <a href="https://docs.google.com/document/d/18SijxHJ3JiNIhjwTh9px_2CnK_yN4Urt73RybVbGukg/edit?usp=sharing" class="button">View Résumé</a>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <i class="fa fa-globe"></i>
                        <p>My outdoor passions are traveling, rock climbing and motorcycles. I want to discover what the world has to offer give back as much as I can.</p>
                    </div>
                    <a href="/adventure" class="button">View Adventures</a>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <i class="fa fa-gamepad"></i>
                        <p>Who doesn't like to cool off with some video games now-a-days? I have a particular fondness of completing goals and tracking my progress in games.</p>
                    </div>
                    <a href="/gaming" class="button">View Game Stats</a>
                </div>
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="container">
            <h1>Work</h1>
            <div ng-repeat="project in projects track by $index" class="project-wrapper 
                {{ $index == 0 ? 'primary' : $index == 1 ? 'secondary' : 'tertiary' }}">
                <a href="{{ project.url }}" class="project" style="background-image: url('images/{{ project.image }}')">
                    <div class="overlay">
                        <div class="title">{{ project.name }}</div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1>Contact</h1>
                    <div class="contact-info">
                        <div class="phone">
                            <span>519</span>
                            <span>902</span>
                            <span>6533</span>
                        </div>
                        <label>Mobile Phone</label>
                        <div class="location">
                            {{ location.name }}
                        </div>
                        <label>Location</label>
                        <div class="email">
                            <a href="mailto:{{ email }}" class="social-anchor">
                                {{ email }}
                            </a>
                        </div>
                        <label>Email</label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div id="contactMap" contact-map></div>
                </div>
            </div>
        </div>
    </section>
</div>
