<div class="backdrop">
    <img src="images/1852.jpg">
</div>
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-0">
                <div id="navPortal">
                    <a href="/developer" data-backdrop="images/1852.jpg">
                        <h1>Developer</h1>
                        <p class="desc">Creating simple and beautiful experiences</p>
                    </a>
                    <a href="/adventure" data-backdrop="images/MMaEV.jpg">
                        <h1 class="title">Adventurer</h1>
                        <p class="desc">Exploring and climbing all over the world</p>
                    </a>
                    <a href="/gaming" data-backdrop="images/7G0gHUr.jpg">
                        <h1 class="title">Gamer</h1>
                        <p class="desc">Because sometimes simple pleasures are worth it</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0">
                <div id="intro">
                    <h1>Welcome.</h1>
                    <p>My name is Ian, I created this website to chronicle and measure my favourite things in life. It's also a showcase of my design and development abilities and an easy way for people to contact me.</p>
                </div>
                <p id="quotation">
                    &ldquo;<span class="quote"></span>&rdquo;
                    &ndash; <a class="person"></a>
                </p>
                <a href="/about" id="about">About this site</a>
            </div>
        </div>
    </div>
</div>