<div id="resume">
    <div class="container">
        <div class="row">
            <div class="col-md-3 left-column">
                <h1 id="name">Ian Lamb</h1>
                <p id="address1">137 Albert St. Unit 4</p>
                <p id="address2">London, ON, Canada, N6A 1L9</p>
                <p id="phone">519-902-6533</p>
                <p id="email">ianlamb32@gmail.com</p>
                <p id="website">http://ianlamb.com</p>
                <button ng-click="downloadResume()">Download Resume</button>
            </div>
            <div class="col-md-9">
<!--
                <h3>Objective</h3>
                <section></section>
-->
                
                <h3>Skills</h3>
                <div id="skills" class="row">
                    <div class="col-md-6">
                        <section>
                            <strong class="category">Front-End</strong>
                            <ul>
                                <li>HTML5/CSS</li>
                                <li>JavaScript/jQuery</li>
                                <li>AngularJS</li>
                                <li>Bower/NPM/Grunt</li>
                            </ul>
                        </section>
                        <section>
                            <strong class="category">Back-End</strong>
                            <ul>
                                <li>NodeJS/Express</li>
                                <li>ASP.NET MVC</li>
                                <li>PHP/Laravel</li>
                                <li>Java/Spring</li>
                                <li>MySQL/MongoDB</li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section>
                            <strong class="category">Platform</strong>
                            <ul>
                                <li>Windows</li>
                                <li>Linux</li>
                                <li>Mac OSX</li>
                                <li>Android</li>
                            </ul>
                        </section>
                        <section>
                            <strong class="category">Infrastructure</strong>
                            <ul>
                                <li>Git/SVN SCM</li>
                                <li>Jenkins/Hudson CI</li>
                                <li>Apache/Glassfish/Tomcat</li>
                                <li>Ansible</li>
                            </ul>
                        </section>
                    </div>
                </div>
                
                <h3>Experience</h3>
                <div id="experience">
                    <section>
                        <span class="timestamp">Jun 2014 – Present</span>
                        <a class="workplace" href="http://www.cineplexdigitalnetworks.com/">Cineplex Digital Networks</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="position">Web UI Developer</strong>
                        <ul>
                            <li>Full-stack java development in a linux environment</li>
                            <li>Building and maintaining the management systems for large digital interactive signage networks</li>
                            <li>Rapid development of interactive media content in JavaScript/HTML5 for touch displays and tablets</li>
                        </ul>
                    </section>
                    <section>
                        <span class="timestamp">Jan 2013 – Jun 2014</span>
                        <a class="workplace" href="http://goodlifefitness.com">GoodLife Fitness</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="position">Solutions Developer</strong>
                        <ul>
                            <li>Developed and maintained large internal and external ASP and .NET applications that reach thousands of users</li>
                            <li>Designing robust, scalable systems in collaboration with developers, architects and business analysts</li>
                            <li>Performed UI design and development on new and old systems to bring visual consistency and usability</li>
                            <li>Production/deployment support and build server maintenance</li>
                            <li>Scrum Master duties such as sprint organization and facilitation of work between team members</li>
                            <li>Interviewing, on-boarding and coaching co-ops</li>
                            <li>Earned praise in two “FedEx Day” innovation events</li>
                        </ul>
                    </section>
                    <section>
                        <span class="timestamp">Sep 2012 – Jan 2013</span>
                        <a class="workplace">Igniteck Inc</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="position">Web Developer</strong>
                        <ul>
                            <li>Development on a responsive web portal that communicated with a RESTful API</li>
                            <li>Collaborated in a fast-paced development environment on Team Foundation Server</li>
                            <li>Worked with ASP.NET MVC, WCF Services and SQL Server</li>
                        </ul>
                    </section>    
                    <section>
                        <span class="timestamp">May 2012 – Aug 2012</span>
                        <a class="workplace" href="http://blackberry.com">Blackberry</a> - <span class="location">Waterloo, ON, Canada</span><br>
                        <strong class="position">Software Tester &amp; Developer</strong> (co-op)
                        <ul>
                            <li>Performed maintenance and updates to SlipStream's data compression proxy (C/C++) inside a Linux environment</li>
                            <li>Collaborated on porting the proxy client application from Linux to QNX (for mobile development)</li>
                            <li>Created a tablet-optimized web interface that was able to configure settings for the proxy app</li>
                            <li>Refactored and overhauled the web interface of their product's branding server and made updates to their localization scripts</li>
                        </ul>
                    </section>
                    <section>
                        <span class="timestamp">Sep 2011 – Dec 2011</span>
                        <a class="workplace" href="http://infotech.com/">Info-Tech Research Group</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="position">Software Developer</strong> (co-op)
                        <ul>
                            <li>Worked with Agile development practices on several teams</li>
                            <li>Maintained core client-and-public-facing website built with Ruby on Rails in a linux environment</li>
                            <li>Managed and enhanced Salesforce system (SaaS) using Apex and configuration tools</li>
                            <li>Performed financial investigations and data cleanup on a large SQL Server database to support payroll and commissions</li>
                            <li>Lead an innovation day project with other co-op students</li>
                        </ul>
                    </section>
                    <section>
                        <span class="timestamp">Dec 2010 – Apr 2011</span>
                        <a class="workplace" href="https://lawsonresearch.com/">Lawson Research Institute</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="position">Web Developer</strong> (co-op)
                        <ul>
                            <li>Worked with rapid prototype development practices to quickly create functional websites to demo to clients</li>
                            <li>Met with clients to go over requirements and then worked with team members to come up with implementation solutions</li>
                            <li>Performed front and back-end web development using JavaScript the Codeigniter PHP framework</li>
                            <li>Integrated hospital security standards, ease of use and UI design principles while developing web products</li>
                        </ul>
                    </section>
                </div>

                <h3>Education</h3>
                <div id="education">
                    <section>
                        <span class="timestamp">Sep 2009 – Dec 2012</span>
                        <a class="workplace" href="http://www.fanshawec.ca/">Fanshawe College</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="certificate">Computer Programmer Analyst Advanced Diploma</strong><br>
                        <i>Graduated with honours</i>
                    </section>
                    <section>
                        <span class="timestamp">Sep 2005 – Jun 2009</span>
                        <a class="workplace" href="http://www.tvdsb.ca/Lucas.cfm">A.B. Lucas Secondary School</a> - <span class="location">London, ON, Canada</span><br>
                        <strong class="certificate">Ontario Secondary School Diploma</strong>
                    </section>
                </div>

                <h3>References Available Upon Request</h3>
            </div>
        </div>
    </div>
</div>