#login, #logout {
    padding-top: 10em;
}
#login .password-field {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#login .password-field:focus {
    border-color: #00abff;
    -webkit-transition: all .4s;
    transition: all .4s;
}