<div id="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <form id="spoofForm" ng-submit="spoof()">
                    <p i18n="auth.spoofDescription"></p>
                    <button type="submit" i18n="auth.spoofButton" class="btn btn-block btn-lg btn-success"></button>
                </form>
                <hr>
                <form id="loginForm" ng-submit="login()">
                    <p>
                        <input type="password" ng-model="password" class="password-field" maxlength="32" placeholder="{{ 'auth.secretLabel' | i18n }}" autofocus>
                        <button type="submit" i18n="auth.loginButton" class="btn btn-block btn-lg btn-primary"></button>
                    </p>
                    <alert ng-if="message" type="{{ message.type }}">{{ message.body }}</alert>
                </form>
            </div>
        </div>
    </div>
</div>