
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);


/********************
*** CUSTOM STYLES ***
********************/

/* COLOUR PALETTE
 * =======
 * BLUE_DEFAULT     #00abff
 * BLUE_HOVER       #0091d8
 * BLUE_GRAY        #353535
 *
 * GREEN_DEFAULT    #00BE9A
 * GREEN_HOVER      #00A384
 * GREEN_GRAY       #5C6B68
 */


/*
 * ATTRIBUTES
 */

::selection { background: #e6e6e6; color: orangered; }
::-moz-selection { background: #e6e6e6; color: orangered; }

html, body {
    margin: 0;
    padding: 0;
    color: #999;
    font-family: 'Ubuntu', verdana, sans-serif;
    font-size: 12pt;
}

html {
    position: relative;
    min-height: 100%;
    background: #22262b;
}

body {
    letter-spacing: 0.1em;
    background: transparent;
}

p { margin: 0 0 1.0em 0; }

hr { border-width: 1px; border-color: rgba(255,255,255,0.2); }

a:not(.btn), a:not(.btn):link, a:not(.btn):visited {
    text-decoration: none;
    color: #00abff;
    transition: all .2s;
}
a:not(.btn):hover {
    color: #0061b8;
    transition: all .4s;
}
a:not(.btn):active { color: #00abff; }

label { 
    display: block;
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

dl {
    display: block;
    margin-bottom: 0;
}
dt {
    font-weight: normal;
}
dd {
    color: #00abff;
    font-size: 2.0em;
    line-height: 0.9em;
    margin-bottom: 0.5em;
    cursor: default;
}
dd.smaller {
    font-size: 1.6em;
}

dl.table-list {
    width: 100%;
}
dl.table-list dt {
    display: inline-block;
    width: 50%;
}
dl.table-list dd {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 1.2em;
}

code {
    padding: 0 0.2em;
    margin: 0;
    border-radius: 0;
    font-family: monospace;
    color: #E2DCCC;
    background: #555;
}

pre {
    padding: 0.2 0.4em;
    margin: 0;
    border-radius: 0;
    font-family: monospace;
    color: #E2DCCC;
    background: #555;
    border-color: #999;
}


/*
 * HEADER
 */

.navbar {
    z-index: 50;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.navbar a.navbar-brand > .logo {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-right: 0.3em;
}
.navbar a.navbar-brand > .logo img {
    height: 24px;
    width: 24px;
}
.navbar-default a:not(.btn).navbar-brand span {
    color: #ccc;
    -webkit-animation-name: shine;
    animation-name: shine;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(2) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(3) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(4) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(5) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(6) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(7) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.navbar-default a:not(.btn).navbar-brand span:nth-child(8) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.navbar-default {
    background-color: rgba(0,0,0,.6);
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #ccc;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-default .navbar-nav > li > a::before,
.navbar-default .navbar-nav > li > a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.navbar-default .navbar-nav > li > a::before {
    margin-right: 5px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.navbar-default .navbar-nav > li > a::after {
    margin-left: 5px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #337ab7;
    background: transparent;
}
.navbar-default .navbar-nav > li > a:hover::before,
.navbar-default .navbar-nav > li > a:hover::after,
.navbar-default .navbar-nav > li > a:focus::before,
.navbar-default .navbar-nav > li > a:focus::after {
    background: transparent;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00abff;
    background-color: transparent;
    outline: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #555;
}
.navbar-default .navbar-toggle {
    border-color: #999;
    border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #999;
    height: 1px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #00abff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar a {
    -webkit-transition: all .4s;
    transition: all .4s;
}
.navbar a:hover {
    color: #0091d8 !important;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar-default .navbar-brand {
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 360px;
}
.navbar-nav > li > .dropdown-menu {
    width: 180px;
    padding-top: 0;
    margin-top: -1px;
    color: #777;
    background-color: #333;
}
.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #454545;
}
.navbar-nav > li > .dropdown-menu .divider {
    background-color: #454545;
}
.navbar-nav > li > .dropdown-menu .navbar-text {
    float: none;
    margin: 10px 20px;
}


/*
 * SUBHEADER
 */

.sticky-hero {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 250px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}
.sticky-hero-overlay {
    position: relative;
    z-index: 30;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3)
}
.sticky-hero-shim {
    height: 200px;
}

#subNav {
    position: relative;
    background: #454545;
}
#subNav ul {
    padding: 0;
    margin: 0;
}
#subNav li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 24%;
}
#subNav a {
    display: block;
    width: 100%;
    padding: 8px 12px;
    color: #ccc;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#subNav li .underline {
    position: relative;
    height: 4px;
    width: 0;
    background: #00abff;
    transition: width .2s;
}
#subNav li:hover a {
    color: #00abff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#subNav li:hover .underline {
    width: 100%;
    -webkit-transition: width .2s;
    transition: width .2s;
}
#subNav li.selected a {
    color: #00abff !important;
    background: #555856;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#subNav li.selected .underline {
    width: 100% !important;
}


/*
 * PAGE
 */

.page {
    position: relative;
    min-height: calc(100vh - 100px);
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    overflow: hidden;
}

.splash {
    position: absolute;
    z-index: 95;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    color: #222;
}
.splash .center {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 20%;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}
.splash .loader,
.splash .loader:before,
.splash .loader:after {
    background: #05B0FA;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.splash .loader:before,
.splash .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.splash .loader:before {
    left: -1.5em;
}
.splash .loader {
    text-indent: -9999em;
    margin: 8em auto;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.splash .loader:after {
    left: 1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #05B0FA;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #05B0FA;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #05B0FA;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #05B0FA;
        height: 5em;
    }
}


/*
 * FOOTER
 */

#footer {
    width: 100%;
    height: 50px;
    padding-top: 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,.1);
    font-size: 0.9em;
    z-index: 99;
}
#footer .container {
    width: 100%;
}
#footer p {
    margin-bottom: 10px;
    color: #777;
}
#footer .footer-links {
    padding: 0;
}
#footer .footer-links a {
    color: #777;
}
#footer .footer-links a:hover {
    color: #ccc;
}
#footer .footer-links li {
    display: inline-block;
    list-style: none;
    line-height: 3px;
    margin: 0;
    padding-right: 0.3em;
    padding-left: 0.6em;
    border-left: 3px solid rgba(255,255,255,0.2);
}
#footer .footer-links li:first-child {
    padding-left: 0;
    border-left: 0;
}
#footer .footer-links li:last-child {
    padding-right: 0;
}
#footer .right {
    text-align: right;
}
#footer .copyright {
    margin-top: 0;
}


/*
 * COMMON CLASSES
 */

.clearfix:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
}

.panel {
    padding: 1.0em 2.0em;
    background: #454545;
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.btn, .form-control {
    border-radius: 2px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    display: none;
}
.jvectormap-tip {
    z-index: 90;
}

.top {
    margin: 0 0 20px 0;
}

.progress {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    cursor: default;
    background: #3f3f3f;
}
.progress-bar {
    overflow: visible;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    background: #00abff;
}
.progress-bar[aria-valuenow="0"] {
    color: #fff;
}
.progress span {
    white-space: nowrap;
    position: absolute;
    width: 100%;
    left: 0;
}

ul.inline-bullets {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
}
ul.inline-bullets > li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 12px;
    padding-right: 5px;
    border-right: 3px solid rgba(255,255,255,.3);
    line-height: 3px;
}
ul.inline-bullets > li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}


.timestamp {
    float: right;
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
}

.clear {
    clear: both;
}

.profile-photo {
    z-index: 80;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #efefef;
    margin: 8em auto;
}
.profile-photo-overlay {
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.profile-photo-overlay:hover {
    opacity: 0.3;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: rgba(255,255,255,0.2);
}

.three-d-text {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 0 #ccc, 0 0 0 #c9c9c9, 0 1px 0 #bbb, 0 1px 0 #b9b9b9, 0 2px 0 #aaa, 0 3px 1px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.3), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.25), 0 5px 5px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.15);
}


/*
 * MEDIA QUERIES
 */
 
/* desktop */
@media only screen and (max-width: 1200px) {
    html, body {
        font-size: 11pt;
    }
}

/* tablet */
@media only screen and (max-width: 991px) {
    html, body {
        font-size: 11pt;
    }
    .container {
        width: 100%;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    html, body {
        font-size: 11pt;
    }
    dl dd {
        margin-bottom: 0.5em;
    }

    .timestamp {
        float: none;
        display: block;
    }

    #subNav .container {
        padding: 0;
        width: 100%;
    }
    #subNav li {
        display: block;
        width: 100%;
        text-align: center;
    }
    #subNav li a {
        -webkit-transition: none;
        transition: none;
    }
    #subNav li:hover a {
        color: #ccc;
        -webkit-transition: none;
        transition: none;
    }
    #subNav li:hover .underline {
        width: 0;
        -webkit-transition: none;
        transition: none;
    }
    #subNav li.selected a {
        -webkit-transition: none;
        transition: none;
    }

    #footer .footer-links {
        font-size: 1.2em;
    }
    #footer .left {
        text-align: center;
    }
    #footer .right {
        text-align: center;
    }
}


/*
 * ANIMATIONS
 */

[ui-view].ng-enter {
    -webkit-transition:all .7s ease-in;
    -moz-transition:all .7s ease-in;
    transition:all .7s ease-in;
}
[ui-view].ng-leave {
    -webkit-transition:all .2;
    -moz-transition:all .2;
    transition:all .2;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 1; 
}

[ui-view].ng-leave-active {
    opacity: 0;
}

.animated {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.delay-short {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.animated.delay-medium {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.animated.delay-long {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.animated.delay-x-long {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

/* rotate */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    -ms-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  100% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* shine */
@-webkit-keyframes shine {
  0% {
      opacity: 1;
  }
  90% {
      opacity: .3;
  }
  100% {
      opacity: 1;
  }
}
@keyframes shine {
  0% {
      opacity: 1;
  }
  90% {
      opacity: .3;
  }
  100% {
      opacity: 1;
  }
}

/* slides */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(100%);
  }
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}
@keyframes slideOutUp {
  0% {
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    transform: translateY(-100%);
  }
}
