<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <p ng-if="authorized">
                <a ui-sref="blog.post" class="btn btn-primary btn-block">New Post</a>
            </p>
            <p i18n="blog.description"></p>
            <dl>
                <dt i18n="blog.lastPostLabel"></dt>
                <dd class="smaller">{{ posts[0] ? moment(posts[0].created_at).fromNow() : 'n/a' }}</dd>
            </dl>
            <hr>
            <label i18n="blog.tagsLabel"></label>
            <ul class="tags inline-bullets">
                <li ng-repeat="(tag, occurrences) in usedTags | orderBy:'occurrences'">
                    <a ui-sref="blog.roll({tags: tag})">{{ tag }}</a>
                    <span class="occurrences">[{{ occurrences }}]</span>
                </li>
            </ul>
            <hr class="visible-sm">
        </div>
        <div class="col-sm-9">
            <alert type="info" ng-if="search.tags" close="closeAlert($index)">
                <p>Showing entries tagged with <strong>{{ search.tags }}</strong>.</p>
                <a ui-sref="blog.roll({tags:''})" class="btn btn-default">Clear Filter</a>
            </alert>
            <ul id="blogPosts" infinite-scroll="loadMore()">
                <li ng-repeat="post in posts | filter:search:true">
                    <div class="post-wrapper panel">
                        <div class="view">
                            <h3><a ui-sref="blog.post({ slug: post.slug })">{{ post.title }}</a></h3>
                            <div class="post-body truncate" ng-if="post" ng-bind-html="shortPost(post.body)"></div>
                            <a ui-sref="blog.post({ slug: post.slug })" class="button">Read More</a>
                            <div class="post-footer">
                                <ul class="tags inline-bullets">
                                    <li ng-repeat="tag in post.tags.split(' ') track by $index">
                                        <a ui-sref="blog.roll({tags: tag})">{{ tag }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>