<div id="about">
    <div class="container">
        <h2>About ianlamb.com</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Inception</h4>
                <p>This began as a revamp of my old portfolio/personal website and a way to play with some new technologies. After some time working with angular and node I wanted to continue building stuff, so I started designing out the rest of the site. Most of it was to track and display my personal accomplishments but it was also a big learning experience for me.</p>
            </div>
            <div class="col-md-6">
                <h4>Future</h4>
                <p>I will continue to update and improve this website and essentially use it as a sandbox for trying new technologies. This is my showcase to anyone that looks me up on the internet, so I'll be trying my best to keep it tip-top.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Technology Stack</h3>
                <ul>
                    <li><a href="http://en.wikipedia.org/wiki/HTML5">HTML5</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a></li>
                    <li><a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a></li>
                    <li><a href="http://nodejs.org/">Node.js</a></li>
                    <li><a href="http://www.mongodb.org/">MongoDB</a></li>
                </ul>
                <h3>Frameworks</h3>
                <ul>
                    <li><a href="https://angularjs.org/">Angular</a></li>
                    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="http://expressjs.com/">Express</a></li>
                    <li><a href="http://mongoosejs.com/">Mongoose ODM</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Libraries</h3>
                <ul>
                    <li><a href="http://jquery.com/">jQuery</a></li>
                    <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
                    <li><a href="http://momentjs.com/">Moment</a></li>
                    <li><a href="http://jvectormap.com/">jVectorMap</a></li>
                    <li><a href="https://github.com/MrRio/jsPDF">jsPDF</a></li>
                    <li><a href="https://github.com/evilstreak/markdown-js">markdown-js</a></li>
                </ul>
                <h3>Tools</h3>
                <ul>
                    <li><a href="https://www.npmjs.com/">NPM</a></li>
                    <li><a href="http://bower.io/">Bower</a></li>
                    <li><a href="https://github.com/foreverjs/forever">Forever</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Services and APIs</h3>
                <ul>
                    <li><a href="https://www.digitalocean.com/">Digital Ocean</a></li>
                    <li><a href="https://www.flickr.com/services/api/">Flickr</a></li>
                    <li><a href="http://www.mapquestapi.com/geocoding/">MapQuest Geocoding</a></li>
                    <li><a href="http://blizzard.github.io/api-wow-docs/">World of Warcraft</a></li>
                    <li><a href="http://blizzard.github.io/d3-api-docs/">Diablo 3</a></li>
                    <li><a href="http://blizzard.github.io/api-sc2-docs/">Starcraft 2</a></li>
                    <li><a href="http://www.wowhead.com/tooltips">WowHead Tooltips</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>