<div id="gaming">
    <sticky-hero></sticky-hero>
    <div id="subNav">
        <div class="container">
            <ul>
                <li class="{{ state.name == 'gaming.wow' ? 'selected' : '' }}">
                    <a ui-sref="gaming.wow">World of Warcraft</a>
                    <div class="underline"></div>
                </li>
                <li class="{{ state.name == 'gaming.diablo' ? 'selected' : '' }}">
                    <a ui-sref="gaming.diablo">Diablo 3</a>
                    <div class="underline"></div>
                </li>
                <li class="{{ state.name == 'gaming.starcraft' ? 'selected' : '' }}">
                    <a ui-sref="gaming.starcraft">Starcraft 2</a>
                    <div class="underline"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div ui-view></div>
    </div>
</div>