#gaming {
    padding-bottom: 20px;
}
#gaming .header-image {
    background-color: #0a0d23;
    background-image: url('/assets/images/header-gaming.jpg');
}
#gaming .character {
    display: block;
    overflow: hidden;
    width: 100%;
    background: #454545;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 0;
    margin-top: 20px;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#gaming .character .extended {
    padding: 16px 16px 16px 16px;
}
#gaming .character:hover {
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
}
#gaming .character .main {
    display: block;
    overflow: hidden;
    background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
    border-bottom: 4px solid #00abff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#gaming .character .main:hover {
    box-shadow: 0 0 5px #00abff,
                0 0 10px  #00abff,
                0 0 20px  #00abff,
                0 0 30px  #00abff;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-animation: character-hover-glow 1.5s ease-in-out infinite alternate;
    animation: character-hover-glow 1.5s ease-in-out infinite alternate; 
}
@-webkit-keyframes character-hover-glow {
  from {
    box-shadow: 0 0 5px #00abff,
                0 0 10px  #00abff,
                0 0 20px  #00abff,
                0 0 30px  #00abff;
  }
  to {
    box-shadow: 0 0 10px #00abff,
                0 0 20px  #00abff,
                0 0 30px  #00abff,
                0 0 40px  #00abff;
  }
}
#gaming .character .main a {
    display: block;
    color: #d6d6d6;
}
#gaming .character .main h3 {
    color: #d6d6d6;
    margin-bottom: 2px;
    display: inline-block;
}
#gaming .character .main img {
    display: block;
    float: left;
    margin-right: 5px;
    margin-bottom: 100px;
}
#gaming .character .main .scroll-up {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s all;
    transition: .4s all;
}
#gaming .character .main a:hover {
    background: rgba(0, 171, 255, 0.2);;
    -webkit-transition: .2s all;
    transition: .2s all;
}
#gaming .character .main a:hover .scroll-up {
    transform: translateY(-84px);
    -webkit-transition: .2s all;
    transition: .2s all;
}
#gaming .character .main .call-to-action {
    color: #fff;
}
#gaming .character .main .call-to-action h1 {
    display: inline-block;
    color: inherit;
    font-size: 30px;
    margin-left: 20px;
    line-height: 54px;
}
#gaming .character .main .call-to-action .fa {
    float: right;
    font-size: 44px;
    color: inherit;
    margin: 25px;
}
#gaming .character h3 {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 5px 0;
}
#gaming .character p {
    margin: 0;
}
#gaming .items {
    list-style: none;
    padding: 0;
    width: 100%;
}
#gaming .items td, #gaming .items th {
    padding: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#gaming .items td:first-child {
    white-space: nowrap;
}
#gaming .items .trash { color: #9d9d9d; }
#gaming .items .common { color: #ffffff; }
#gaming .items .uncommon { color: #1eff00; }
#gaming .items .rare { color: #1D87FF; }
#gaming .items .epic { color: #a335ee; }
#gaming .items .legendary { color: #DB820C; }
#gaming .items .gray { color: #9d9d9d; }
#gaming .items .white { color: #ffffff; }
#gaming .items .blue { color: #1D87FF; }
#gaming .items .yellow { color: #DAD70E; }
#gaming .items .green { color: #00ff00; }
#gaming .items .orange { color: #DB820C; }
#gaming .feed {
    list-style: none;
    padding: 0;
}
#gaming .feed li {
    clear: both;
}