
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);


/********************
*** CUSTOM STYLES ***
********************/

/* COLOUR PALETTE
 * =======
 * BLUE_DEFAULT     #00abff
 * BLUE_HOVER       #0091d8
 * BLUE_GRAY        #353535
 *
 * GREEN_DEFAULT    #00BE9A
 * GREEN_HOVER      #00A384
 * GREEN_GRAY       #5C6B68
 */


::selection { background: #e6e6e6; color: orangered; }
::-moz-selection { background: #e6e6e6; color: orangered; }

html, body {
    margin: 0;
    padding: 0;
    color: #999;
    font-family: 'Ubuntu', verdana, sans-serif;
    font-size: 12pt;
}
html {
    position: relative;
    min-height: 100%;
    background: #22262b;
}
body {
    padding-top: 50px;
    letter-spacing: 0.1em;
    background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 {
    color: #b2b2b2;
}
p { margin: 0 0 1.0em 0; }
hr { border-width: 1px; border-color: rgba(255,255,255,0.2); }

a, a:link, a:visited {
    text-decoration: none;
    color: #00abff;
    transition: all .2s;
}
a:hover {
    color: #0091d8;
    transition: all .4s;
}
a:active { color: #00abff; }

label { 
    display: block;
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

dl {
    display: block;
    vertical-align: top;
    margin-bottom: 0;
}
dt {
    font-weight: normal;
}
dd {
    color: #00abff;
    font-size: 2.0em;
    line-height: 0.9em;
    margin-bottom: 0.5em;
    cursor: default;
}
dd.smaller {
    font-size: 1.6em;
}

dl.table-list {
    width: 100%;
}
dl.table-list dt {
    display: inline-block;
    width: 50%;
}
dl.table-list dd {
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 1.2em;
}

button, .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1em 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 0.88889rem;
    padding-right: 1.77778rem;
    padding-bottom: 0.94444rem;
    padding-left: 1.77778rem;
    font-size: 1.0em;
    background-color: #00abff;
    border-color: #0091d8;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}
button:hover, .button:hover {
    background: #0091d8;
}
button.form-alignment {
    margin-top: 1.4em;
    padding-top: 0.68889rem;
    padding-bottom: 0.74444rem;
}

select {
    -webkit-appearance: none !important;
    border-radius: 0;
    background-color: #FAFAFA;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    padding: 0.4em 1.0em 0.4em 0.6em;
    font-size: 1.0em;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.5em;
    width: 100%;
}
select:hover {
    background-color: #e6e6e6;
    border-color: #454545;
}

.panel {
    padding: 1.0em 2.0em;
    background: #454545;
    border-radius: 0;
}

.alert {
    border-radius: 0;
}


.splash {
    position: absolute;
    z-index: 95;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    color: #222;
}
.splash .center {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 20%;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}

.splash .loader,
.splash .loader:before,
.splash .loader:after {
    background: #05B0FA;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.splash .loader:before,
.splash .loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.splash .loader:before {
    left: -1.5em;
}
.splash .loader {
    text-indent: -9999em;
    margin: 8em auto;
    position: relative;
    font-size: 11px;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.splash .loader:after {
    left: 1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #05B0FA;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #05B0FA;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0 #05B0FA;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em #05B0FA;
        height: 5em;
    }
}


.jvectormap-zoomin,
.jvectormap-zoomout {
    display: none;
}
.jvectormap-tip {
    z-index: 90;
}

/* tooltips */
a.res-tooltip { outline:none; }
a.res-tooltip strong { line-height:30px; }
a.res-tooltip:hover { text-decoration:none; } 
a.res-tooltip .res-tooltip-panel {
    position: absolute;
    z-index: 10;
    padding: 14px 20px;
    margin-top: 0;
    left: -280px;
    width: 280px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}
a.res-tooltip:hover .res-tooltip-panel {
    background: #444;
    color: #ccc;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}
a.res-tooltip .callout {
    z-index: 20;
    display: block;
    margin: 0 auto 20px;
    border: 0;
}


#error {
    margin-top: 100px;
}
#error h1 {
    font-size: 5em;
    text-align: center;
}

.navbar {
    z-index: 50;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.navbar .navbar-brand > img.logo {
    display: inline-block;
    height: 24px;
    position: relative;
    top: -1px;
    margin-right: 0.3em;
}
.navbar-default .navbar-nav > li > a {
  color: #999;
}
.navbar-default {
    background-color: #333;
    border-color: #454545;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #454545;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00abff;
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #555;
}
.navbar-default .navbar-toggle {
    border-color: #999;
    border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #999;
    height: 1px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #00abff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar a {
    -webkit-transition: all .4s;
    transition: all .4s;
}
.navbar a:hover {
    color: #0091d8 !important;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.navbar-default .navbar-brand {
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar button {
    width: auto;
}
.navbar-default .navbar-brand span {
    -webkit-animation-name: shine;
    animation-name: shine;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.navbar-default .navbar-brand span.letter-1 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}
.navbar-default .navbar-brand span.letter-2 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}
.navbar-default .navbar-brand span.letter-3 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}
.navbar-default .navbar-brand span.letter-4 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}
.navbar-default .navbar-brand span.letter-5 {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}
.navbar-default .navbar-brand span.letter-6 {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}
.navbar-default .navbar-brand span.letter-7 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.page {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    padding-top: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.1);
    font-size: 0.9em;
}
#footer .footer-links {
    padding: 0;
}
#footer .footer-links a {
    color: #777;
}
#footer .footer-links a:hover {
    color: #ccc;
}
#footer .footer-links li {
    display: inline-block;
    list-style: none;
    line-height: 3px;
    margin: 0;
    padding-right: 0.3em;
    padding-left: 0.6em;
    border-left: 3px solid rgba(0,0,0,0.4);
}
#footer .footer-links li:first-child {
    padding-left: 0;
    border-left: 0;
}
#footer .footer-links li:last-child {
    padding-right: 0;
}
#footer .right {
    text-align: right;
}
#footer .copyright {
    margin-top: 0;
}
#main .row {
    margin-bottom: 20px;
}
#main .title {
    display: block;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: right;
}
.social-icons {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li {
    display: inline-block;
}
.social-icons a .fa {
    color: #999;
    font-size: 2.2em;
    margin: -0.1em 0.4em 0 0;
    -webkit-transition: color .4s;
    transition: color .4s;
    vertical-align: middle;
    -webkit-animation: spin-left 0.5s;
    animation: spin-left 0.5s;
}
.social-icons a:hover .fa {
    color: #00abff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    -webkit-animation: spin-right 0.3s;
    animation: spin-right 0.3s;
    -webkit-transition: color .2s;
    transition: color .2s;
}
/*.social-icons a:hover .fa-flickr {
    color: #ff0085;
}
.social-icons a:hover .fa-facebook-square {
    color: #3a5795;
}
.social-icons a:hover .fa-twitter-square {
    color: #55acee;
}
.social-icons a:hover .fa-linkedin-square {
    color: #287bbc;
}
.social-icons a:hover .fa-google-plus-square {
    color: #d73d32;
}
.social-icons a:hover .fa-github-square {
    color: #fff;
}*/
@-webkit-keyframes spin-right {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
    }
    100% {
        transform-origin: center;
        transform: none;
    }
}
@keyframes spin-right {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -200deg);
    }
    100% {
        transform-origin: center;
        transform: none;
    }
}
@-webkit-keyframes spin-left {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
    }
    100% {
        transform-origin: center;
        transform: none;
    }
}
@keyframes spin-left {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 200deg);
    }
    100% {
        transform-origin: center;
        transform: none;
    }
}

.background {
    width: 100%;
    height: 100%;
    background: #999 no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#subNav {
    position: relative;
    background: #454545;
}
#subNav ul {
    padding: 0;
    margin: 0;
}
#subNav li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 24%;
}
#subNav a {
    display: block;
    width: 100%;
    padding: 8px 12px;
    color: #ccc;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#subNav li .underline {
    position: relative;
    height: 4px;
    width: 0;
    background: #00abff;
    transition: width .2s;
}
#subNav li:hover a {
    color: #00abff;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#subNav li:hover .underline {
    width: 100%;
    -webkit-transition: width .2s;
    transition: width .2s;
}
#subNav li.selected a {
    color: #00abff !important;
    background: #555856;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#subNav li.selected .underline {
    width: 100% !important;
}

.header-image {
    position: relative;
    z-index: 20;
    width: 100%;
    height: 180px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.top {
    margin: 0 0 20px 0;
}

.photos .photo {
    opacity: 0.7;
}
.photos .photo:hover {
    opacity: 1.0;
}

.fa-big {
    display: block;
    margin-top: 0.5em;
    font-size: 8em;
}

.progress {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    cursor: default;
    background: #3f3f3f;
}
.progress-bar {
    overflow: visible;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    background: #00abff;
}
.progress-bar[aria-valuenow="0"] {
    color: #fff;
}
.progress span {
    white-space: nowrap;
    position: absolute;
    width: 100%;
    left: 0;
}

input[type="text"] {
    -webkit-appearance: none !important;
    border-radius: 0;
    background-color: #FAFAFA;
    border: 0;
    padding: 0.4em 1.0em 0.4em 0.6em;
    font-size: 1.0em;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.5em;
    width: 100%;
}
textarea {
    width: 100%;
}


#home .button {
    display: inline-block;
    width: 100%;
    padding: 1em;
    font-weight: bold;
    background: #454545;
    color: #00abff;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-bottom: 4px solid #00abff;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#home .button:hover {
    background: #00abff;
    color: #fff;
    border-color: #337ab7;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/* AUTHENTICATION */
#login, #logout {
    padding-top: 10em;
}
#login button {
    width: 100%;
}
#login .password-field {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #999;
    padding: 1em;
    margin-bottom: 1em;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#login .password-field:focus {
    border-color: #00abff;
    -webkit-transition: all .4s;
    transition: all .4s;
}


/* HOME PAGE */
.overlay {
    position: relative;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

#quotation {
    margin-top: 360px;
    font-size: 1.2em;
}
#home section {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 40px 0;
    z-index: 25;
}
#home section#header {
    height: 700px;
    margin: 0;
    padding: 0;
    color: #efefef;
/*
    background: #454545 url(../images/16182886029_fbf037d997_k.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}
#home section#header .video-splash {
    position: fixed;
    top: 50px;
    width: 100%;
}
#home section#header h1 {
    margin: 250px 0 0 0;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
#home section#header .scroll-down {
    margin: 250px auto 0;
    font-size: 3em;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}
@-webkit-keyframes bounce {
    0%, 10%, 26%, 40%, 50% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    20%, 22% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    35% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    45% {
        transform: translate3d(0,-4px,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}
@keyframes bounce {
    0%, 10%, 26%, 40%, 50% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    20%, 22% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    35% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    45% {
        transform: translate3d(0,-4px,0);
    }
    100% {
        transform: translate3d(0,0,0);
    }
}

#home #main {
    background: #efefef;
}
#home #main h3 {
    margin-bottom: 40px;
}

#home #about {
    padding: 0;
    background: #22262b;
}

#home #about h2.headline {
    margin-top: 0;
    margin-bottom: 2em;
    padding: 1em 2em;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#home #about p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
#home #about .row > div {
    padding: 0;
}
#home #about a.major-link {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 20px;
    overflow: hidden;
    color: #b2b2b2;
    transition: all .3s ease-out;
}
#home #about a.major-link:hover {
    background: #414141;
    transition: all .3s ease-out;
}
#home #about a.major-link .link-desc {
    text-align: center;
    transition: all .3s ease-out;
}
#home #about a.major-link:hover .link-desc {
    transform: translateY(-10px);
    transition: all .3s ease-out;
}
#home #about a.major-link .link-action {
    color: #00abff;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    transition: all .3s ease-out;
}
#home #about a.major-link .link-action .fa {
    margin-left: 5px;
}
#home #about a.major-link:hover .link-action {
    opacity: 1;
    transform: translateY(0);
    transition: all .3s ease-out;
}

#home #projects {
    background: #00abff;
    box-shadow: inset 0 80px 150px rgba(0,0,0,.4);
    overflow: hidden;
}

#home #projects h1 {
    position: relative;
    top: -120px;
    left: -80px;
    font-size: 5em;
    color: #444;
    text-transform: uppercase;
    -webkit-transform: rotateX(55deg) rotateZ(-30deg);
    transform: rotateX(55deg) rotateZ(-30deg);
}
#home #projects .project-wrapper {
    position: relative;
    float: left;
    margin: 0 8.2% 20px 0;
    vertical-align: top;
    height: 180px;
    width: 25%;
}
#home #projects .project-wrapper.first-row {
    left: -20px;
}
#home #projects .project-wrapper.second-row {
    top: -60px;
    left: 120px;
}
#home #projects .project {
    display: inline-block;
    position: relative;
    top: -40px;
    left: 20px;
    width: 240px;
    height: 240px;
    z-index: 10;
    background: #999 no-repeat top center;
    background-size: 100%;
    box-shadow: -10px 10px 60px rgba(0,0,0,.7);
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateX(60deg) rotateZ(-35deg) translateZ(-20px);
    transform: rotateX(60deg) rotateZ(-35deg) translateZ(-20px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover .project {
    box-shadow: -35px 35px 90px rgba(0,0,0,.4);
    -webkit-transform: rotateX(60deg) rotateZ(-35deg) translateZ(5px);
    transform: rotateX(60deg) rotateZ(-35deg) translateZ(5px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover {
    z-index: 20;
}
#home #projects .project .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    color: #efefef;
    background: rgba(0,0,0,.5);
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project-wrapper:hover .project .overlay {
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project .title {
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project-wrapper:hover .project .title {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project .desc {
    width: 100%;
    height: 100px;
    margin-top: 140px;
    padding: 10px;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project:hover .desc {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#home #projects .project .controls {
    position: relative;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
#home #projects .project .controls .fa {
    display: inline-block;
    margin-right: 5px;
}
#home #projects .project .controls a {
    font-size: 1.1em;
    margin-right: 10px;
}
#home #projects .project .controls a:last-child {
    margin-right: 0;
}
#home #projects .project:hover .controls {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
    opacity: 1;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}


#contact {
    font-size: 1.6em;
    text-transform: uppercase;
    background: #22262b;
}
#contact h1 {
}
#contact h3 {
    font-size: 2em;
}
#contact .contact-info {
    white-space: nowrap;
    overflow: visible;
    margin-top: 1em;
}
#contact .contact-info > div {
    margin-bottom: 0.8em;
    font-size: 1.4em;
    color: #00abff;
}
#contact .contact-info > label {
    margin-top: -2.2em;
    font-size: 0.6em;
    color: #888;
}
#contact .phone span:nth-child(1) {
}
#contact .phone span:nth-child(2) {
}
#contact .phone span:nth-child(3) {
}
#contactMap {
    width: 100%;
    height: 380px;
}
#contactMap .jvectormap-tip {
    display: none;
}
.home-icon {
    position: absolute;
    color: orangered;
    font-size: 0.9em;
    border-radius: 50%;
    line-height: 20px;
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
    background: transparent;
    text-shadow: 0 0 2px black;
    -webkit-animation: beacon 1.5s ease-in infinite;
    animation: beacon 1.5s ease-in infinite;
}
@-webkit-keyframes beacon {
  0% {
    background: rgba(255,40,0,0.3);
    border: 1px solid orangered;
    box-shadow: 0 0 3px orangered;
  }
  50% {
    background: rgba(255,40,0,0);
    margin-top: -43px;
    margin-left: -28px;
    padding: 32px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px transparent;
  }
  100% {
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
  }
}
@keyframes beacon {
  0% {
    background: rgba(255,40,0,0.3);
    border: 1px solid orangered;
    box-shadow: 0 0 3px orangered;
  }
  50% {
    background: rgba(255,40,0,0);
    margin-top: -43px;
    margin-left: -28px;
    padding: 32px;
    border: 1px solid transparent;
    box-shadow: 0 0 3px transparent;
  }
  100% {
    margin-top: -13px;
    margin-left: 2px;
    padding: 2px;
  }
}





/* UNUSED */
#navPortal {
}
#navPortal a h1 {
    margin: 0;
}
#navPortal a .desc {
    margin: 0;
}
#navPortal a {
    display: inline-block;
    height: 300px;
    width: 90%;
    background: transparent no-repeat center center;
    background-size: 180%;
    border: 1px solid #454545;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
    transform: scaleX(1) scaleY(1) scaleZ(1) skewX(-20deg);
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#navPortal a:hover {
    background-size: 220%;
    border-color: #00abff;
}
#navPortal a.developer {
    background-image: url(../images/mrFIa4e.jpg);
}
#navPortal a.adventure {
    background-image: url(../images/rock-climbing-new-hd-cool-wallpapers-in-widescreen-high-resolution-free.jpg);
}
#navPortal a.gaming {
    background-image: url(../images/1259211008825.jpg);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    background: #000;
}
.backdrop img {
    display: block;
    position: absolute;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

a.hex {
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(19, 99, 144);
    transition: all .6s;
}
.hex {
    display: block;
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
    transition: all .6s;
    z-index: 9;
}
.hex:nth-child(even) {
    margin-top: 57px;
}
.hex .shadow {
    width: 60px;
    height: 55px;
    margin-top: 36px;
    margin-left: 30px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0 40px rgba(0,0,0,1);
    transition: all .6s;
    z-index: 3;
}
.hex .text {
    position: absolute;
    margin-top: 35px;
    width: 120px;
    text-align: center;
    z-index: 10;
}
.hex .piece.left {
    float: left;
    width: 0;
    border-right: 30px solid #00abff;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    z-index: 5;
}
.hex .piece.middle {
    float: left;
    width: 60px;
    height: 104px;
    background: #00abff;
    padding-top: 35%;
    z-index: 5;
}
.hex .piece.right {
    float: left;
    width: 0;
    border-left: 30px solid #00abff;
    border-top: 52px solid transparent;
    border-bottom: 52px solid transparent;
    z-index: 5;
}
.hex .tip {
    position: absolute;
    display: none;
    width: 400px;
    font-size: 1.0em;
    color: #ccc;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: rgba(0,0,0,0.2);
}
.hex .tip span {
    color: #00abff;
}
a.hex:hover {
    color: #fff;
    -webkit-transform: translateZ(7px);
    transform: translateZ(7px);
    transition: all .4s;
}
.hex:hover .tip {
    display: block;
}
.hex:hover .shadow {
    margin-top: 43px;
    box-shadow: 0 0 80px rgba(0,0,0,1);
    transition: all .4s;
}
.hex:hover .piece.left {
    border-right-color: rgb(104, 186, 255);
}
.hex:hover .piece.middle {
    background: rgb(104, 186, 255);
}
.hex:hover .piece.right {
    border-left-color: rgb(104, 186, 255);
}
.hex:hover .piece {
    transition: all .4s;
}

.ring {
    display: none;
    clear: both;
    width: 400px;
    height: 400px;
    margin: 150px auto 0;
    font-size: 5px;
    border-radius: 50%;
    border: 2px dashed #777;
    text-indent: -9999em;
    transition: all .3s;
    -webkit-animation: spin 15s infinite linear;
    animation: spin 15s infinite linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



ul.inline-bullets {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.9em;
}
ul.inline-bullets > li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 12px;
    padding-right: 5px;
    border-right: 3px solid rgba(255,255,255,.3);
    line-height: 3px;
}
ul.inline-bullets > li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}



/* BLOG */
#blog {
}
#blog .header-image {
    background: url('https://c4.staticflickr.com/8/7568/15489088623_8620e08bfe_k.jpg');
    background-position: center;
    margin-bottom: 30px;
}
#blog .header-image h1 {
    margin: 100px 0 0 0;
    color: #f6f6f6;
}
#blog .header-image h4 {
    margin: 0;
    color: #f6f6f6;
}
#blog h2, #blog h3 {
    margin: 10px 0;
}
#blog input, #blog textarea {
    margin-bottom: 10px;
}
#blog .timestamp {
    float: none;
    display: inline-block;
}
#blog .tags {
    display: inline-block;
    margin: 0 0 10px;
}

#blog .tags li a {
}
#blog .tags li a:hover {
    color: #f6f6f6;
}

#blog .tags li span.occurrences {
    font-size: 0.8em;
}

#blog .post-body {
    color: #b2b2b2;
    margin-bottom: 20px;
}

#blog .post-body img {
    display: block;
    max-width: 100% !important;
    max-height: 500px !important;
    width: auto !important;
    height: auto !important;
    margin: 0 auto 20px;
}

#blog .post-footer {
    color: #777;
}

#blog #postBody {
    width: 100%;
    height: 200px;
    padding: 0.4em 1.0em 0.4em 0.6em;
}

#blog #newPost,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#newPost {
	padding: 10px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#blog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#blogPosts > li {
    position: relative;
    margin-bottom: 10px;
}

#blogPosts > li .post-wrapper {
    border: 0;
    border-bottom: 4px solid #00abff;
}

#blogPosts > li h2 {
    margin: 0;
}

#blogPosts > li:last-child {
	border-bottom: none;
}

#blogPosts > li.editing {
	border-bottom: none;
	padding: 0;
}

#blogPosts > li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#blogPosts > li.editing .view {
	display: none;
}

#blogPosts > li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
    cursor: pointer;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

#blogPosts > li label {
    font-size: 18px;
    margin: 10px 0;
	white-space: pre;
	word-break: break-word;
	padding: 10px 60px 5px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

#blogPosts > li .edit {
	display: none;
}

#blogPosts > li.editing:last-child {
	margin-bottom: -1px;
}

/* formatting styles for blog body */
code {
    display: block;
    padding: 0.4em 0.8em;
    margin: 0;
    border-radius: 0;
    font-family: monospace;
    color: #E2DCCC;
    background: #555;
}



/* WORK */
#work {
    padding-top: 30px;
}

#work #projectList {
	margin: 0;
	padding: 0;
	list-style: none;
}
#work #projectList li {
	position: relative;
    margin-bottom: 10px;
}

#work #projectMain {
    position: relative;
    -webkit-animation: slideInRight 1s;
    animation: slideInRight 1s;
}
#work #projectMain .carousel-container {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}
#work #projectMain .details {
    vertical-align: top;
    display: inline-block;
    width: 33%;
    padding: 0.5em;
}
#work #projectMain .name {
    margin-top: 0;
}
#work #projectMain .url {
    display: block;
    margin-bottom: 1em;
}
#work #projectMain .technologies {
	margin: 0;
	padding: 0;
	list-style: none;
}
#work #projectMain .technologies li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 3px solid rgba(255,255,255,.3);
    line-height: 3px;
}
#work #projectMain .technologies li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}


/* RESUME */
#resume {
    padding-top: 10px;
}
#resume p {
    margin-bottom: 2px;
}
#resume button {
    margin-top: 20px;
    width: 100%;
}
#resume h1 {
    padding: 10px 0;
    margin: 0;
}
#resume h3 {
    padding: 10px 10px 0;
    margin: 0;
}
#resume ul {
    list-style-type: square;
    padding: 0;
    margin: 0;
}
#resume ul li {   
    margin-left: 17px;
}
#resume section {
    padding: 10px;
    margin-bottom: 10px;
    transition: background .4s;
}
#resume section:hover {
    background: #292d33;
    transition: background .2s;
}


/* ADVENTURE */
#adventure .header-image {
    background-color: #0a0d23;
    background-image: url('../images/header-adventure.jpg');
}

/* TRAVEL */
#travel {
}
#travel .top {
    position: relative;
    margin-top: -300px;
    height: 320px;
}
#travel #map {
    position: relative;
    top: 30px;
    width: 100%;
    height: 550px;
    z-index: 30;
}
#travel .trips {
}
#travel .trip {
    display: inline-block;
    width: 100%;
    background: #454545;
    box-shadow: 0 0 0 3px #ccc;
    box-shadow: 5px 5px 16px rgba(0,0,0,0.1);
    padding: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    vertical-align: top;
}
#travel .trip:nth-child(3) {
    margin-right: 0;
}
#travel .trip .title {
    padding: 15px;
}
#travel .trip .title h3 {
    font-size: 1.1em;
    color: #999;
    margin: 0;
}
#travel .trip .title .date {
    font-size: 0.8em;
    color: #777;
}
#travel .trip .photos {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
#travel .trip .photos .photo-container {
    position: relative;
    display: inline-block;
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*
#travel .trip .photos .photo-container:nth-child(1) {
    left: 100%;
}
#travel .trip .photos .photo-container:nth-child(2) {
    left: 100%;  
    -webkit-animation: photoTransition2 9s infinite;
    animation: photoTransition2 9s infinite;
}
#travel .trip .photos .photo-container:nth-child(3) {
    left: 0;
    -webkit-animation: photoTransition3 9s infinite;
    animation: photoTransition3 9s infinite;
}
*/
@-webkit-keyframes photoTransition1 {
    0% {
        left: 100%;
    }
    10% {
        left: 0;
    }
    40% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    100% {
        left: -100%;
    }
}
@-webkit-keyframes photoTransition2 {
    0% {
        left: 100%;
    }
    40% {
        left: 100%;
    }
    50% {
        left: 0;
    }
    70% {
        left: 0;
    }
    80% {
        left: -100%;
    }
    100% {
        left: -100%;
    }
}
@-webkit-keyframes photoTransition3 {
    0% {
        left: 0;   
    }
    10% {
        left: -100%;
    }
    69.9% {
        left: -100%;
    }
    70% {
        left: 100%;
    }
    80% {
        left: 0;
    }
    100% {
        left: 0;
    }
}
#travel .trip .photos .photo {
    display: block;
    min-width: 100%;
    max-height: 240%;
    max-width: 240%;
    margin: 0 auto;
    padding: 0;
}
#travel .trip .no-photo .fa {
    display: block;
    font-size: 2em;
}
#travel .trip .desc {
    clear: both;
    width: 100%;
    padding: 15px;
    font-size: 0.8em;
    color: #aaa;
}
#travel .trip .desc ul {
    list-style: none;
    padding: 0;
    height: 50px;
}
#travel .trip .desc li {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 3px solid rgba(255,255,255,.3);
    line-height: 3px;
}
#travel .trip .desc li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}



/* CLIMBING */
#climbing {
    padding-top: 30px;
}
#climbing .new-climb-session {
    padding-left: 0;
    list-style: none;
}
#climbing .new-climb-session > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
}
#climbing .new-sends {
    padding-left: 20px;
    list-style: square;
}
#climbing .new-sends li {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
#climbing .session {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
#climbing .session .date {
    font-size: 1.8em;
    line-height: 1.0em;
}
#climbing .session .place {
    display: table;
    width: auto;
    font-size: 1.0em;
}
#climbing .session .type {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 30px;
    font-size: 1.0em;
}
#climbing .session .type h5 {
    margin-bottom: 3px;
}
#climbing .session .footer {
    clear: both;
    width: 100%;
    font-size: 1.0em;
}
#climbing .session .count {
    display: inline-block;
    margin-right: 20px;
}
#climbing .session .count span {
}
#climbing .session .total-points {
    display: inline-block;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,0.4);
}
#climbing .session .total-points span {
}
#climbing .session .notes {
    display: block;
    margin-top: 10px;
}

#climbing .session .type .grade {
    margin: 0 0 0.1em 0;
}
#climbing .session .type .grade.points {
    display: inline-block;
}
#climbing .session .type .grade .header {
    display: inline-block;
    margin: 0 0.6em 0 0;
    font-size: 1.2em;
    text-align: left;
    white-space: nowrap;
    width: 30px;
}
#climbing .session .type .grade .header > span {
    font-size: 0.8em;
}
#climbing .session .type.boulder .grade .header {
    width: 30px;
}
#climbing .session .type.lead .grade .header,
#climbing .session .type.toprope .grade .header {
    width: 30px;
    font-size: 1.0em;
}
#climbing .session .type .grade .bubble {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 10px;
    height: 20px;
    overflow: visible;
    padding: 0.5em;
    margin: 0 0.5em 0 0;
    opacity: 0.5;
    transition: all .2s;
}
#climbing .session:hover .type .grade .bubble {
    opacity: 1.0;
    transition: all .2s;
}
#climbing .session .type .grade .bubble.send {
    animation: fadeInToHalf 1s linear 0.2s;
    -webkit-animation: fadeInToHalf 1s linear 0.2s;
}
@-webkit-keyframes fadeInToHalf {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}
@keyframes fadeInToHalf {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}
.fadeInToHalf {
  -webkit-animation-name: fadeInToHalf;
          animation-name: fadeInToHalf;
}
.grade.points .bubble { background: rgb(150, 89, 216); }
.grade.V0 .bubble, .grade.five5 .bubble { background: rgb(171, 171, 171); }
.grade.V1 .bubble, .grade.five6 .bubble { background: rgb(30, 133, 228); }
.grade.V2 .bubble, .grade.five7 .bubble { background: rgb(30, 220, 228); }
.grade.V3 .bubble, .grade.five8 .bubble { background: rgb(28, 179, 28); }
.grade.V4 .bubble, .grade.five9 .bubble { background: rgb(219, 204, 31); }
.grade.V5 .bubble, .grade.five10 .bubble { background: rgb(255, 122, 0); }
.grade.V6 .bubble, .grade.five11 .bubble { background: orangered; }
.grade.V7 .bubble, .grade.five12 .bubble { background: red; }
.grade.V8 .bubble, .grade.five13 .bubble { background: black; }


.heatCalendar {
    width: 100%;
}
.heatCalendar .title {
    margin: 0;
    text-align: center;
    font-weight: normal;
}
.heatCalendar table {
    width: 100%;
    margin-bottom: 1em;
    border-spacing: 2px;
    border-collapse: separate;
}
.heatCalendar table tr td, .heatCalendar table tr th {
    width: 10%;
    height: 30px;
    text-align: center;
    font-weight: normal;
}
.heatCalendar table tr td {
    background: #454545;
    border: 2px solid transparent;
    color: transparent;
    cursor: default;
    -webkit-transition: color .5s ease-in;
    transition: color .5s ease-in;
}
.heatCalendar table tr td:hover {
    color: #efefef;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.heatCalendar table tr td.today {
    border-color: #efefef;
}
.heatCalendar table tr td.lastMonth {
    background: #3f3f3f;
}
.heatCalendar table tr td.nextMonth {
    background: #3f3f3f;
}


/* BUCKET LIST */
#bucketList {
    padding-top: 30px;
}

#newTodo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#newTodo {
	padding: 10px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

label[for='toggle-all'] {
	display: none;
}

#todoList {
	margin: 0;
	padding: 0;
	list-style: none;
}

#todoList li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

#todoList li:last-child {
	border-bottom: none;
}

#todoList li.editing {
	border-bottom: none;
	padding: 0;
}

#todoList li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

#todoList li.editing .view {
	display: none;
}

#todoList li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
    cursor: pointer;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

#todoList li .toggle:focus {
    outline: none;
}

#todoList li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><rect width="100" height="100" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

#todoList li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><rect width="100" height="100" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#00abff" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

#todoList li label {
    font-size: 18px;
    margin: 10px 0;
	padding: 10px 60px 5px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

#todoList li.completed label {
	color: #777;
	text-decoration: line-through;
}

#todoList li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: 0;
	font-size: 30px;
	color: #cc9a9a;
    background: transparent;
    padding: 0;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

#todoList li .destroy:hover {
	color: #af5b5e;
}

#todoList li .destroy:after {
	content: '×';
}

#todoList li:hover .destroy {
	display: block;
}

#todoList li .edit {
	display: none;
}

#todoList li.editing:last-child {
	margin-bottom: -1px;
}



/* GAMING */
#gaming {
}
#gaming .header-image {
    background-color: #0a0d23;
    background-image: url('../images/header-gaming.jpg');
}
#gaming .character {
    display: block;
    overflow: hidden;
    width: 100%;
    background: #454545;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 0;
    margin-top: 20px;
    -webkit-transition: all .4s;
    transition: all .4s;
}
#gaming .character .extended {
    padding: 16px 16px 16px 16px;
}
#gaming .character:hover {
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    -webkit-transition: all .2s;
    transition: all .2s;
}
#gaming .character a.main {
    display: block;
    color: #d6d6d6;
    border-bottom: 4px solid #00abff;
}
#gaming .character a.main h3 {
    color: #d6d6d6;
}
#gaming .character a.main:hover {
    background: #00abff;
    color: #fff;
    border-bottom-color: #0091d8;
}
#gaming .character img {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
#gaming .character .details {
    display: inline-block;
    vertical-align: top;
}
#gaming .character h3 {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0 5px 0;
}
#gaming .character p {
    margin: 0;
}
#gaming .items {
    list-style: none;
    padding: 0;
    width: 100%;
}
#gaming .items td, #gaming .items th {
    padding: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
#gaming .items td:first-child {
    white-space: nowrap;
}
#gaming .items a:hover {
    
}
#gaming .items .trash { color: #9d9d9d; }
#gaming .items .common { color: #ffffff; }
#gaming .items .uncommon { color: #1eff00; }
#gaming .items .rare { color: #1D87FF; }
#gaming .items .epic { color: #a335ee; }
#gaming .items .legendary { color: #DB820C; }
#gaming .items .white { color: #ffffff; }
#gaming .items .blue { color: #1D87FF; }
#gaming .items .yellow { color: #DAD70E; }
#gaming .items .green { color: #00ff00; }
#gaming .items .orange { color: #DB820C; }
#gaming .feed {
    list-style: none;
    padding: 0;
}
#gaming .feed li {
    clear: both;
}

#diablo .portrait {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    height: 66px;
    width: 83px;
    background: url('http://us.battle.net/d3/static/images/profile/hero/hero-nav-portraits.jpg');
}
#diablo .portrait.barbarian-male {
    background-position: 0 0;
}
#diablo .portrait.barbarian-female {
    background-position: -83px 0;
}
#diablo .portrait.demon-hunter-male {
    background-position: 0 -66px;
}
#diablo .portrait.demon-hunter-female {
    background-position: -83px -66px;
}
#diablo .portrait.monk-male {
    background-position: 0 -132px;
}
#diablo .portrait.monk-female {
    background-position: -83px -132px;
}
#diablo .portrait.witch-doctor-male {
    background-position: 0 -198px;
}
#diablo .portrait.witch-doctor-female {
    background-position: -83px -198px;
}
#diablo .portrait.wizard-male {
    background-position: 0 -264px;
}
#diablo .portrait.wizard-female {
    background-position: -83px -264px;
}
#diablo .portrait.crusader-male {
    background-position: 0 -330px;
}
#diablo .portrait.crusader-female {
    background-position: -83px -330px;
}
#diablo .stats table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    border-style: none;
}
#diablo .stats table td {
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.2);
}
#diablo .seasonal {
    float: right;
    padding: 5px;
    color: rgb(0, 147, 0);
}
#diablo .hardcore {
    float: right;
    padding: 5px;
    color: rgb(171, 9, 9);
}
#gaming .character a.main:hover .seasonal {
    color: #d6d6d6;
}
#gaming .character a.main:hover .hardcore {
    color: #d6d6d6;
}


#starcraft .portrait {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    width: 90px;
    height: 90px;
}

.timestamp {
    float: right;
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
}



.clear {
    clear: both;
}

.profile-photo {
    z-index: 80;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #efefef;
    margin: 8em auto;
}
.profile-photo-overlay {
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.profile-photo-overlay:hover {
    opacity: 0.3;
    transition: all .5s;
    -webkit-transition: all .5s;
}



/* medium */
@media only screen and (max-width: 1200px) {
    html, body {
        font-size: 11pt;
    }
    #home #projects .project {
        width: 220px;
        height: 220px;
    }
    #home #projects .project-wrapper.second-row {
        top: -40px;
        left: 60px;
    }
}
/* small */
@media only screen and (max-width: 991px) {
    html, body {
        font-size: 10pt;
    }
    .container {
        width: 100%;
    }
    #home section#header .scroll-down {
        margin-top: 4em;
    }
    #travel #map {
        height: 400px;
    }
    #travel .top {
        margin-top: -200px;
        margin-left: 20px;
        height: 200px;
    }
}
/* mobile */
@media only screen and (max-width: 767px) {
    html, body {
        font-size: 11pt;
    }
    dl {
        
    }
    dl dd {
        margin-bottom: 0.5em;
    }

    .timestamp {
        float: none;
        display: block;
    }

    #subNav .container {
        padding: 0;
        width: 100%;
    }
    #subNav li {
        display: block;
        width: 100%;
        text-align: center;
    }
    #subNav li a {
        -webkit-transition: none;
        transition: none;
    }
    #subNav li:hover a {
        color: #ccc;
        -webkit-transition: none;
        transition: none;
    }
    #subNav li:hover .underline {
        width: 0;
        -webkit-transition: none;
        transition: none;
    }
    #subNav li.selected a {
        -webkit-transition: none;
        transition: none;
    }
    #home section {
        padding: 30px 0;
    }
    #home section#header .scroll-down {
        margin-top: 0.8em;
    }
    #home section#header {
        height: 560px;
    }
    #home .profile-photo {
        margin: 50px auto;
    }
    #main .title {
        display: block;
        text-align: left;
    }
    .social-icons {
        font-size: 1.2em;
    }
    .social-icons a .fa {
        margin: 0;
    }
    .social-icons li {
        margin-left: 2px;
    }
    .social-icons li:first-child {
        margin-left: 0;
    }
    #home #about {
        padding: 0;
    }
    #home #about a.major-link {
        padding: 10px;
        transition: none;
    }
    #home #about a.major-link:hover {
        transition: none;
    }
    #home #about a.major-link .link-desc {
        transform: translateY(-10px);
        transition: none;
    }
    #home #about a.major-link:hover .link-desc {
        transition: none;
    }
    #home #about a.major-link .link-action {
        opacity: 1;
        transform: none;
        transition: none;
    }
    #home #about a.major-link:hover .link-action {
        transition: none;
    }
    #home #projects h1 {
        left: 0;
        top: 0;
        font-size: 3em;
        margin-bottom: 20px;
        -webkit-transform: none;
        transform: none;
    }

    #blog h3 {
        margin: 0;
    }
    #blog .post-wrapper {
        padding: 0.5em 1.0em;
    }

    #projects .project-wrapper.second-row {
        display: none;
    }
    #projects .project-wrapper {
        width: 98% !important;
        height: 260px !important;
        margin: 0 1% 20px !important;
        left: 0 !important;
        top: 0 !important;
    }
    #home #projects .project {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project {
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper .project .overlay {
        opacity: 1;
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project .overlay {
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper .project .title {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: none;
        transition: none;
    }
    #home #projects .project-wrapper:hover .project .title {
        -webkit-transition: none;
        transition: none;
    }
    #gaming .character p {
        font-size: 0.9em;
    }
    #contact .contact-info > div {
        font-size: 1.0em;
    }
    #contact .contact-info > label {
        margin-top: -1.6em;
    }
    #contactMap {
        height: 240px;
        margin: 0;
    }
    #travel #map {
        height: 260px;
    }
    #travel .top {
        margin-top: 20px;
        height: 140px;
    }
    #climbing .session .notes {
        border: 0;
        padding: 0;
    }
    #footer .footer-links {
        font-size: 1.2em;
    }
    #footer .left {
        text-align: center;
    }
    #footer .right {
        text-align: center;
    }
}


/* ANIMATIONS */

[ui-view].ng-enter {
    -webkit-transition:all .7s ease-in;
    -moz-transition:all .7s ease-in;
    transition:all .7s ease-in;
}
[ui-view].ng-leave {
    -webkit-transition:all .2;
    -moz-transition:all .2;
    transition:all .2;
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 1; 
}

[ui-view].ng-leave-active {
    opacity: 0;
}

/* animations */

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.animated.delay-short {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.animated.delay-medium {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.animated.delay-long {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

/* rotate */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    -ms-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
  }

  100% {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* shine */
@-webkit-keyframes shine {
  0% {
    color: #777;
  }
  10% {
    color: #ccc;
  }
  100% {
    color: #777;
  }
}
@keyframes shine {
  0% {
    color: #777;
  }
  10% {
    color: #ccc;
  }
  100% {
    color: #777;
  }
}

/* slides */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
    visibility: visible;
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(100%);
  }
}
@keyframes slideOutDown {
  0% {
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    transform: translateY(100%);
  }
}
@keyframes slideOutUp {
  0% {
    transform: translateY(0);
  }

  100% {
    visibility: hidden;
    transform: translateY(-100%);
  }
}
