<div id="diablo">
    <div class="row">
        <div class="col-md-3">
            <h3>Career</h3>
            <div class="career">
                <dl>
                    <dt>Lifetime Kills</dt>
                    <dd>{{ diabloProfile.kills.monsters }}</dd>
                    <dt>Elite Kills</dt>
                    <dd>{{ diabloProfile.kills.elites }}</dd>
                    <dt>Paragon Level</dt>
                    <dd>{{ diabloProfile.paragonLevel }}</dd>
                </dl>

                <h4>Time Played by Class</h4>
                <div ng-repeat="(class, time) in diabloProfile.timePlayed">
                    <label>{{ formatSlug(class) }}</label>
                    <progressbar value="percent(time)">
                        {{ percent(time) }}%
                    </progressbar>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="characters">
                <div ng-repeat="hero in diabloProfile.heroes | orderBy:['seasonal', 'level']:true" class="character">
                    <a href="http://us.battle.net/d3/en/profile/{{ diabloProfile.battleTag.split('#').join('-') }}/hero/{{ hero.id }}" target="_blank" title="View Profile" class="main">
                        <div class="portrait {{ getClassSlug(hero) }}"></div>
                        <div class="details">
                            <h3>{{ hero.name }}</h3>
                            <p>{{ hero.level }} {{ formatSlug(hero.class) }}</p>
                        </div>
                        <div ng-if="hero.seasonal" class="seasonal">Seasonal</div>
                        <div ng-if="hero.hardcore === 'true'" class="hardcore">Hardcore</div>
                    </a>
                    <div class="extended">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Attributes</h4>
                                <dl class="table-list">
                                    <dt>Strength</dt><dd>{{ hero.stats.strength }}</dd>
                                    <dt>Dexterity</dt><dd>{{ hero.stats.dexterity }}</dd>
                                    <dt>Intelligence</dt><dd>{{ hero.stats.intelligence }}</dd>
                                    <dt>Vitality</dt><dd>{{ hero.stats.vitality }}</dd>
                                </dl>
                                <hr>
                                <dl class="table-list">
                                    <dt>Damage</dt><dd>{{ hero.stats.damage }}</dd>
                                    <dt>Toughness</dt><dd>{{ hero.stats.toughness }}</dd>
                                    <dt>Healing</dt><dd>{{ hero.stats.healing }}</dd>
                                </dl>
                            </div>
                            <div class="col-md-8">
                                <h4>Equipment</h4>
                                <table class="items">
                                    <thead>
                                        <tr>
                                            <th>Slot</th>
                                            <th>Item</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(slot, item) in hero.items">
                                            <td>{{ formatSlug(slot) }}</td>
                                            <td><a class="{{ item.displayColor }}">[{{ item.name }}]</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>