<div id="diablo">
    <div class="row">
        <div class="col-md-3">
            <h3>Career</h3>
            <div class="career">
                <dl>
                    <dt>Lifetime Kills</dt>
                    <dd>{{ diabloProfile.kills.monsters }}</dd>
                    <dt>Elite Kills</dt>
                    <dd>{{ diabloProfile.kills.elites }}</dd>
                    <dt>Paragon Level</dt>
                    <dd>{{ diabloProfile.paragonLevel }}</dd>
                </dl>

                <h4>Time Played by Class</h4>
                <div ng-repeat="(class, time) in diabloProfile.timePlayed">
                    <label>{{ formatSlug(class) }}</label>
                    <progressbar value="percent(time)">
                        {{ percent(time) }}%
                    </progressbar>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h3>Characters</h3>
            <div class="characters">
                <div ng-repeat="hero in diabloProfile.heroes" class="character">
                    <div class="col-md-4">
                        <h3>{{ hero.name }}</h3>
                        <p>{{ hero.level }} {{ formatSlug(hero.class) }}</p>
                    </div>
                    <div class="col-md-8">
                        <h4>Equipment</h4>
                        <table class="items">
                            <thead>
                                <tr>
                                    <th>Slot</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(slot, item) in hero.items">
                                    <td>{{ formatSlug(slot) }}</td>
                                    <td><a href="http://us.battle.net/d3/en/{{ item.tooltipParams }}" class="{{ displayColor }}">[{{ item.name }}]</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>