<div id="wow">
    <div class="row">
        <div class="col-sm-3">
            <div class="collections">
                <h3>Collections</h3>
                <label>Mounts Collected</label>
                <progressbar value="percent(wowProfile.mounts.numCollected, wowProfile.mounts.possible)">
                    {{ formatProgress(wowProfile.mounts.numCollected, wowProfile.mounts.possible) }}
                </progressbar>
                <label>Pets Collected</label>
                <progressbar value="percent(wowProfile.pets.numCollected, wowProfile.pets.possible)">
                    {{ formatProgress(wowProfile.pets.numCollected, wowProfile.pets.possible) }}
                </progressbar>
            </div>
            <div class="achievements">
                <h3>Achievements</h3>
                <label>Total Complete</label>
                <progressbar value="percent(wowProfile.achievements.completed, wowProfile.achievements.possible)">
                    {{ formatProgress(wowProfile.achievements.completed, wowProfile.achievements.possible) }}
                </progressbar>
                <label>General</label>
                <progressbar value="percent(wowProfile.achievements['General'].completed, wowProfile.achievements['General'].possible)">
                    {{ formatProgress(wowProfile.achievements['General'].completed, wowProfile.achievements['General'].possible) }}
                </progressbar>
                <label>Collections</label>
                <progressbar value="percent(wowProfile.achievements['Collections'].completed, wowProfile.achievements['Collections'].possible)">
                    {{ formatProgress(wowProfile.achievements['Collections'].completed, wowProfile.achievements['Collections'].possible) }}
                </progressbar>
                <label>Quests</label>
                <progressbar value="percent(wowProfile.achievements['Quests'].completed, wowProfile.achievements['Quests'].possible)">
                    {{ formatProgress(wowProfile.achievements['Quests'].completed, wowProfile.achievements['Quests'].possible) }}
                </progressbar>
                <label>Dungeons & Raids</label>
                <progressbar value="percent(wowProfile.achievements['Dungeons & Raids'].completed, wowProfile.achievements['Dungeons & Raids'].possible)">
                    {{ formatProgress(wowProfile.achievements['Dungeons & Raids'].completed, wowProfile.achievements['Dungeons & Raids'].possible) }}
                </progressbar>
                <label>Player vs. Player</label>
                <progressbar value="percent(wowProfile.achievements['Player vs. Player'].completed, wowProfile.achievements['Player vs. Player'].possible)">
                    {{ formatProgress(wowProfile.achievements['Player vs. Player'].completed, wowProfile.achievements['Player vs. Player'].possible) }}
                </progressbar>
                <label>Exploration</label>
                <progressbar value="percent(wowProfile.achievements['Exploration'].completed, wowProfile.achievements['Exploration'].possible)">
                    {{ formatProgress(wowProfile.achievements['Exploration'].completed, wowProfile.achievements['Exploration'].possible) }}
                </progressbar>
                <label>Professions</label>
                <progressbar value="percent(wowProfile.achievements['Professions'].completed, wowProfile.achievements['Professions'].possible)">
                    {{ formatProgress(wowProfile.achievements['Professions'].completed, wowProfile.achievements['Professions'].possible) }}
                </progressbar>
                <label>Reputation</label>
                <progressbar value="percent(wowProfile.achievements['Reputation'].completed, wowProfile.achievements['Reputation'].possible)">
                    {{ formatProgress(wowProfile.achievements['Reputation'].completed, wowProfile.achievements['Reputation'].possible) }}
                </progressbar>
                <label>Scenarios</label>
                <progressbar value="percent(wowProfile.achievements['Scenarios'].completed, wowProfile.achievements['Scenarios'].possible)">
                    {{ formatProgress(wowProfile.achievements['Scenarios'].completed, wowProfile.achievements['Scenarios'].possible) }}
                </progressbar>
                <label>Garrisons</label>
                <progressbar value="percent(wowProfile.achievements['Garrisons'].completed, wowProfile.achievements['Garrisons'].possible)">
                    {{ formatProgress(wowProfile.achievements['Garrisons'].completed, wowProfile.achievements['Garrisons'].possible) }}
                </progressbar>
                <label>Pet Battles</label>
                <progressbar value="percent(wowProfile.achievements['Pet Battles'].completed, wowProfile.achievements['Pet Battles'].possible)">
                    {{ formatProgress(wowProfile.achievements['Pet Battles'].completed, wowProfile.achievements['Pet Battles'].possible) }}
                </progressbar>
                <label>World Events</label>
                <progressbar value="percent(wowProfile.achievements['World Events'].completed, wowProfile.achievements['World Events'].possible)">
                    {{ formatProgress(wowProfile.achievements['World Events'].completed, wowProfile.achievements['World Events'].possible) }}
                </progressbar>
                <label>Legacy</label>
                <progressbar value="1">
                    {{ wowProfile.achievements['Legacy'].legacyTotal }}
                </progressbar>
                <label>Feats of Strength</label>
                <progressbar value="1">
                    {{ wowProfile.achievements['Feats of Strength'].foSTotal }}
                </progressbar>
            </div>
            <span class="timestamp">Last Updated {{ wowProfile.main.lastModified }}</span>
        </div>

        <div class="col-sm-9">
            <div class="character showcase">
                <a href="http://us.battle.net/wow/en/character/{{ wowProfile.main.realm }}/{{ wowProfile.main.name }}/simple" target="_blank" title="View Armory" class="main">
                    <img ng-src="http://us.battle.net/static-render/us/{{ wowProfile.main.thumbnail }}" />
                    <div class="details">
                        <h3>{{ wowProfile.main.name }}</h3>
                        <p>{{ wowProfile.main.level }} {{ wowProfile.main.gender }} {{ wowProfile.main.race }} {{ wowProfile.main.class }}</p>
                        <p>{{ wowProfile.main.realm }}</p>
                    </div>
                </a>
                <div class="extended">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Stats</h4>
                            <dl class="table-list">
                                <dt>Health</dt><dd>{{ wowProfile.main.stats.health }}</dd>
                                <dt>Strength</dt><dd>{{ wowProfile.main.stats.str }}</dd>
                                <dt>Haste</dt><dd>{{ wowProfile.main.stats.hasteRating }}</dd>
                                <dt>Multistrike</dt><dd>{{ wowProfile.main.stats.multistrikeRating }}</dd>
                                <dt>Mastery</dt><dd>{{ wowProfile.main.stats.masteryRating }}</dd>
                                <dt>Versatility</dt><dd>{{ wowProfile.main.stats.versatility }}</dd>
                                <dt>Critical Strike</dt><dd>{{ wowProfile.main.stats.critRating }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h4>Progression</h4>
                            Coming soon...
                            <h4>PvP</h4>
                            <dl>
                                <dt>Honourable Kills</dt><dd>{{ wowProfile.main.totalHonorableKills }}</dd>
                            </dl>
                            <div class="row">
                                <div class="col-md-4">
                                    <dl>
                                        <dt>Arena 2v2</dt><dd>{{ wowProfile.main.pvp.brackets.ARENA_BRACKET_2v2.rating }}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl>
                                        <dt>Arena 3v3</dt><dd>{{ wowProfile.main.pvp.brackets.ARENA_BRACKET_3v3.rating }}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl>
                                        <dt>Arena 5v5</dt><dd>{{ wowProfile.main.pvp.brackets.ARENA_BRACKET_5v5.rating }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Equipment</h4>
                            <p>Average Item Level: {{ wowProfile.main.items.averageItemLevel }}</p>
                            <table class="items">
                                <thead>
                                    <tr>
                                        <th>Slot</th>
                                        <th>Level</th>
                                        <th>Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in wowProfile.main.items" ng-if="item.name">
                                        <td>{{ item.slot }}</td>
                                        <td>{{ item.itemLevel }}</td>
                                        <td><a href="http://www.wowhead.com/item={{ item.id }}" class="{{ itemQuality(item.quality) }}">[{{ item.name }}]</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <h4>Recent Activity</h4>
                            <ul class="feed">
                                <li ng-repeat="feedItem in wowProfile.main.feed | limitTo:20 track by $index">{{ parseFeedItem(feedItem) }} <span class="timestamp">{{ fromNow(feedItem.timestamp) }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alts">
                <div class="row">
                    <div ng-repeat="character in wowProfile.alts | orderBy:'level':true" class="col-lg-6 col-md-6">
                        <div class="character">
                            <a href="http://us.battle.net/wow/en/character/{{ character.realm }}/{{ character.name }}/simple" target="_blank" title="View Armory" class="main">
                                <img ng-src="http://us.battle.net/static-render/us/{{ character.thumbnail }}" />
                                <div class="details">
                                    <h3>{{ character.name }}</h3>
                                    <p>{{ character.level }} {{ character.gender }} {{ character.race }} {{ character.class }}</p>
                                    <p>{{ character.realm }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>