<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Contact</h1>
                <ul class="contact-info">
                    <li>
                        <a href="mailto:{{ email }}" class="social-anchor">
                            <i class="general foundicon-mail"></i> {{ email }}
                        </a>
                    </li>
                    <li>{{ phone }}</li>
                    <li>{{ location }}</li>
                </ul>
            </div>
            <div class="col-sm-8">
                <div id="contactMap"></div>
            </div>
        </div>
    </div>
</section>