<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 left">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.flickr.com/photos/128441783@N07/" title="Flickr">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ianmlamb" title="Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Ian_Lamb" title="Twitter">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://lnkd.in/vDaVpa" title="LinkedIn">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ianlamb" title="GitHub">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 right">
                <ul class="footer-links">
                    <li><a href="https://github.com/ianlamb/ildotcom" title="View source on GitHub">Source</a></li>
                    <li><a href="/about" title="More about this website">About</a></li>
                    <li><a href="/login" title="This is for me, but feel free to try to hack my authentication ;)">Login</a></li>
                </ul>
                <p>&copy; {{ year }} Ian Lamb</p>
            </div>
        </div>
    </div>
</div>
