<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>&copy; {{ year }} Ian Lamb</p>
            </div>
            <div class="col-xs-6">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.flickr.com/photos/128441783@N07/" title="Flickr">
                            <i class="fa fa-flickr"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ianmlamb" title="Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Ian_Lamb" title="Twitter">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://lnkd.in/vDaVpa" title="LinkedIn">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ianlamb" title="GitHub">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
