<div id="bucketList">
    <div class="row">
        <div class="col-sm-3">
            <p>This is my personal bucket list, containing all of the arbitrary, silly and often impractical things I would like to do before I die. The only rule is I can't take an item off the list.</p>
            <progressbar value="percent(completedCount, bucketList.length)">{{ completedCount }} / {{ bucketList.length }} Complete</progressbar>
        </div>
        <div class="col-sm-9">
            <div ng-if="authorized" class="panel">
                <form id="todo-form" ng-submit="addTodo()">
                    <input type="text" id="new-todo" ng-model="newTodo.title" ng-disabled="saving" placeholder="New Item" autofocus>
                </form>
            </div>
<!--
            <ul id="filters">
                <li>
                    <a ng-class="{selected: status == ''} " href="#/">All</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
                </li>
                <li>
                    <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
                </li>
            </ul>
-->
            <ul id="todo-list">
                <li ng-repeat="todo in bucketList track by $index" class="{{ item.completed ? 'completed' : '' }}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)" {{ authorized ? '' : 'disabled' }}>
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="saveEdits(todo, 'submit')">
                        <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>