<div id="climbing">
    <div class="row">
        <div class="col-sm-3">
            <dl>
                <dt>Last Climb</dt>
                <dd id="lastClimb" class="smaller">{{ stats.lastClimb }}</dd>
            </dl>
            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    <dl>
                        <dt>Best Boulder</dt>
                        <dd>{{ stats.bestBoulder }}</dd>
                    </dl>
                    <dl>
                        <dt>Best Lead</dt>
                        <dd>{{ stats.bestLead }}</dd>
                    </dl>
                    <dl>
                        <dt>Best Top Rope</dt>
                        <dd>{{ stats.bestTopRope }}</dd>
                    </dl>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <dl>
                        <dt>Boulder Problems</dt>
                        <dd>{{ stats.problemsClimbed }}</dd>
                    </dl>
                    <dl>
                        <dt>Routes</dt>
                        <dd>{{ stats.routesClimbed }}</dd>
                    </dl>
                    <dl>
                        <dt>Sessions</dt>
                        <dd>{{ stats.daysClimbed }}</dd>
                    </dl>
                </div>
            </div>
            <heat-calendar></heat-calendar>
        </div>
        <div class="col-sm-9">
            <div ng-if="authorized" class="panel">
                <form id="addClimbForm" ng-submit="saveSession()">
                    <h3>New Session</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="place">Place</label>
                                <select name="place" id="place" ng-model="place">
                                    <option ng-repeat="place in places" value="{{ place._id }}">{{ place.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="timestamp">Timestamp</label>
                                <input type="text" name="timestamp" id="timestamp" value="{{ newSession.date }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="notes">Notes</label>
                                <textarea id="notes" ng-model="notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-xs-5">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select name="type" id="type" ng-model="type" ng-options="type for (type, grades) in climbTypes"></select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="grade">Grade</label>
                                <select name="grade" id="grade" ng-model="grade" ng-disabled="!type" ng-options="grade for grade in type"></select>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-3">
                            <button type="button" ng-click="addSend()" class="form-alignment"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <ul class="new-climb-session">
                        <li ng-repeat="climb in newSession.climbs">
                            <h4>{{ climb.type }}</h4>
                            <ul class="new-sends">
                                <li ng-repeat="send in climb.sends track by $index">{{ send }}</li>
                            </ul>
                        </li>
                    </ul>
                    <br>
                    <button type="submit">Save Session</button>
                    <alert ng-repeat="message in messages" type="{{ message.type }}">{{ message.body }}</alert>
                </form>
            </div>
            <div infinite-scroll="loadMore()" class="sessions">
                <div ng-repeat="session in climbSessions" class="session" id="{{ session._id }}">
                    <div class="date" title="{{ moment(session.date).format('YYYY-MM-DD') }}">{{ moment(session.date).format('MMMM Do, YYYY') }}</div>
                    <a href="{{ session.place.url }}" class="place">&commat;{{ session.place.name }}</a>
                    <div ng-repeat="climb in session.climbs | orderBy:'type'" class="type {{ climb.type.replace(' ','').toLowerCase() }}">
                        <h5>{{ climb.type }}</h5>
                        <div ng-repeat="ms in climb.mappedSends | orderBy:'grade'" class="grade {{ ms.gradeClass }}">
                            <div class="header">{{ ms.grade }}</div>
                            <div ng-repeat="s in ms.sends track by $id($index)" class="bubble send"></div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="count">
                            Climbed 
                            <span ng-if="session.routeCount">{{ session.routeCount }} route{{ session.routeCount > 1 ? 's' : '' }}</span>
                            <span ng-if="session.problemCount">{{ session.routeCount ? 'and' : '' }} {{ session.problemCount }} problem{{ session.problemCount > 1 ? 's' : '' }}</span>
                        </div>
                        <div ng-if="session.totalPoints" class="total-points">Scored <span>{{session.totalPoints}}</span> points</div>
                        <div ng-if="session.notes" class="notes">{{session.notes}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
