<div id="climbing">
    <div ng-if="params.action == 'create'" class="panel">
        <form action="/api/climbs/create">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" ng-model="grades" ng-options="type for (type, grades) in climbTypes"></select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label for="grade">Grade</label>
                        <select name="grade" id="grade" ng-disabled="!grades" ng-options="grade for grade in grades">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" data-action="add-climb">Add</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" data-action="save-climbs">Save</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div>
                <dl>
                    <dt>Last Climb</dt><dd id="lastClimb">{{ stats.lastClimb }}</dd>
                </dl>
                <dl>
                    <dt>Best Boulder</dt><dd id="bestBoulder">
                        <span class="prefix"></span><span class="number"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Best Lead</dt><dd id="bestLead">
                        <span class="prefix"></span><span class="number"></span><span class="suffix"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Best Top Rope</dt><dd id="bestTopRope">
                        <span class="prefix"></span><span class="number"></span><span class="suffix"></span>
                    </dd>
                </dl>
                <dl>
                    <dt>Routes Climbed</dt><dd id="routesClimbed"></dd>
                </dl>
                <dl>
                    <dt>Climbing Sessions</dt><dd id="daysClimbed"></dd>
                </dl>
            </div>
            <!--<canvas id="climbingChart" width="240" height="200"></canvas>-->
        </div>

        <div class="col-md-9">
            <div ng-repeat="session in climbSessions" class="session">
                <div class="date" title="{{ session.dateFormatted }}">{{ session.dateFriendly }}</div>
                <a href="{{ session.place.url }}" class="place">&commat;{{ session.place.name }}</a>
                <div ng-repeat="climb in session.climbs" class="type {{ climb.type.replace(' ','').toLowerCase() }}">
                    <h5>{{ climb.type }}</h5>
                    <div ng-repeat="ms in climb.mappedSends" class="grade {{ ms.gradeClass }}">
                        <div class="header">{{ ms.grade }}</div>
                        <div ng-repeat="s in ms.sends track by $id($index)" class="bubble send"></div>
                    </div>
                </div>
                <div class="footer">
                    <div class="count">Climbed <span>{{ session.sendCount }}</span> routes</div>
                    <div ng-if="session.totalPoints" class="total-points">Scored <span>{{session.totalPoints}}</span> points</div>
                    <div ng-if="session.notes" class="notes">{{session.notes}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
