<div id="travel">
    <div id="map" class="animated fadeIn"></div>

    <div class="top animated fadeIn delay-medium">
        <dl>
            <dt>Kilometers Traveled</dt><dd id="kmsTraveled">12,354</dd>
            <dt>Countries</dt><dd id="countries">3</dd>
            <dt>Cities</dt><dd id="cities">8</dd>
        </dl>
    </div>

    <div class="trips animated fadeIn delay-long">
        <div class="trip">
            <div class="title">
                <h3>Chicago</h3>
                <div class="date">Jan 5th - Jan 10th, 2012</div>
            </div>
            <div class="photos">
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_141355.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_132819.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_175316.jpg" />
                </div>
            </div>
            <div class="footer">
                hi
            </div>
        </div>
        <div class="trip">
            <div class="title">
                <h3>Chicago</h3>
                <div class="date">Jan 5th - Jan 10th, 2012</div>
            </div>
            <div class="photos">
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_141355.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_132819.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_175316.jpg" />
                </div>
            </div>
            <div class="footer">
                hi
            </div>
        </div>
        <div class="trip">
            <div class="title">
                <h3>Chicago</h3>
                <div class="date">Jan 5th - Jan 10th, 2012</div>
            </div>
            <div class="photos">
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_141355.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_132819.jpg" />
                </div>
                <div class="photo-container">
                    <img class="photo" src="images/IMG_20140920_175316.jpg" />
                </div>
            </div>
            <div class="footer">
                hi
            </div>
        </div>
    </div>

</div>
