<div id="vehicles">
    <div class="top">
        <dl>
            <dt>Kilometers Driven</dt><dd id="distanceDriven">{{stats.distanceDriven}}</dd>
        </dl>
        <dl>
            <dt>Cars Owned</dt><dd id="carsOwned">{{stats.carsOwned}}</dd>
        </dl>
        <dl>
            <dt>Motorcycles Owned</dt><dd id="motorcyclesOwned">{{stats.motorcyclesOwned}}</dd>
        </dl>
        <dl>
            <dt></dt><dd id=""></dd>
        </dl>
    </div>
    <div class="autos">
        <div ng-repeat="auto in autos" class="auto">
            <div class="title">
                <h3>{{auto.year}} {{auto.make}} {{auto.model}} {{auto.trim}}</h3>
            </div>
            <div class="details">
                <dl>
                    <dt>Date of Purchase</dt><dd>{{auto.dateOfPurchase | date}}</dd>
                    <dt>Purchase Price</dt><dd>{{auto.price | currency:'$':0}}</dd>
                    <dt>Distance Driven</dt><dd>{{auto.distanceDriven | number}}</dd>
                    <dt>Date of Sale</dt><dd>{{auto.dateOfSale | date}}</dd>
                </dl>
                <dl>
                    <dt>Engine</dt><dd>{{auto.displacement}} {{auto.engine}}</dd>
                    <dt>Horsepower</dt><dd>{{auto.horsepower.hp}} hp @ {{auto.horsepower.rpm | number}} rpm</dd>
                    <dt>Torque</dt><dd>{{auto.torque.tq}} ft-lbs. @ {{auto.torque.rpm | number}} rpm</dd>
                    <dt>Fuel Economy</dt><dd>{{auto.fuelEconomy.city | number:1}}/{{auto.fuelEconomy.highway | number:1}} L/100km</dd>
                </dl>
                <dl>
                    <dt>Transmission</dt><dd>{{auto.transmission}}</dd>
                    <dt ng-if="auto.driveType">Drive Type</dt><dd>{{auto.driveType}}</dd>
                    <dt ng-if="auto.finalDrive">Final Drive Ratio</dt><dd>{{auto.finalDrive}}</dd>
                    <dt ng-if="auto.fuelSystem">Fuel System</dt><dd>{{auto.fuelSystem}}</dd>
                    <dt ng-if="auto.compression">Compression</dt><dd>{{auto.compression}}</dd>
                    <dt>Curb Weight</dt><dd>{{auto.curbWeight}} kg</dd>
                </dl>
            </div>
            <div class="photo" style="background-image: url('images/{{auto.photos[0].file}}')">

            </div>
        </div>
    </div>
</div>
