<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <div class="logo">
                    <img src="/assets/images/logo.png" />
                </div>
                <span class="letter-1">I</span>
                <span class="letter-2">a</span>
                <span class="letter-3">n</span>
                <span class="letter-4">L</span>
                <span class="letter-5">a</span>
                <span class="letter-6">m</span>
                <span class="letter-7">b</span>
            </a>
        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ availableLocales[currentLocale] }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><p class="navbar-text">Change Language</p></li>
                        <li role="separator" class="divider"></li>
                        <li ng-repeat="(locale, name) in availableLocales">
                            <a href="#" ng-click="changeLanguage(locale)">{{ name }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ isActive('home') }}"><a ui-sref="home" i18n="common.home"></a></li>
                <li class="{{ isActive('blog') }}"><a ui-sref="blog" i18n="common.blog"></a></li>
                <li class="{{ isActive('resume') }}"><a ui-sref="resume" i18n="common.resume"></a></li>
                <li class="{{ isActive('adventure') }}"><a ui-sref="adventure" i18n="common.adventure"></a></li>
                <li class="{{ isActive('gaming') }}"><a ui-sref="gaming" i18n="common.gaming"></a></li>
                <li class="{{ isActive('about') }}"><a ui-sref="about" i18n="common.about"></a></li>
                <li ng-show="!authorized" ng-cloak><a ui-sref="login" i18n="common.login"></a></li>
                <li ng-show="authorized" ng-cloak><a ui-sref="logout" i18n="common.logout"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>