<div id="starcraft">
    <div class="row">
        <div class="col-md-3">
            <h3 i18n="starcraft.careerTitle"></h3>
            <dl>
                <dt i18n="starcraft.battleTagLabel"></dt>
                <dd>
                    <a href="http://us.battle.net/sc2/en{{ starcraftProfile.profilePath }}" target="_blank" title="View Profile">
                        {{ starcraftProfile.displayName }}
                    </a>
                </dd>
                <dt i18n="starcraft.careerGamesLabel"></dt>
                <dd>{{ starcraftProfile.career.careerTotalGames }}</dd>
                <dt i18n="starcraft.topSoloRankLabel"></dt>
                <dd>{{ starcraftProfile.career.highest1v1Rank }}</dd>
                <dt i18n="starcraft.topTeamRankLabel"></dt>
                <dd>{{ starcraftProfile.career.highestTeamRank }}</dd>
                <dt i18n="starcraft.primaryRaceLabel"></dt>
                <dd>{{ starcraftProfile.career.primaryRace }}</dd>
            </dl>
        </div>
        <div class="col-md-9">
            <div class="character">
                <div class="main">
                    <a href="http://us.battle.net/sc2/en{{ starcraftProfile.profilePath }}" target="_blank">
                        <div class="portrait" style="background: url('{{ starcraftProfile.portrait.url }}') no-repeat {{ starcraftProfile.portrait.x }}px {{ starcraftProfile.portrait.y }}px;"></div>
                        <div class="details scroll-up">
                            <h3>{{ starcraftProfile.displayName }}</h3>
                            <div>{{ starcraftProfile.achievements.points.totalPoints }}</div>
                        </div>
                        <div class="call-to-action scroll-up">
                            <h1>View Profile</h1>
                            <i class="fa fa-angle-double-right"></i>
                        </div>
                    </a>
                </div>
                <div class="extended">
                    <h3 title="Season {{ starcraftProfile.season.seasonId }}">Season {{ starcraftProfile.season.seasonNumber }} of {{ starcraftProfile.season.seasonYear }}</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <dl>
                                <dt>Total Games</dt>
                                <dd>{{ starcraftProfile.career.seasonTotalGames }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl>
                                <dt>Wins</dt>
                                <dd>{{ starcraftProfile.career.protossWins + starcraftProfile.career.terranWins + starcraftProfile.career.zergWins }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl>
                                <dt>Losses</dt>
                                <dd>{{ starcraftProfile.career.seasonTotalGames - (starcraftProfile.career.protossWins + starcraftProfile.career.terranWins + starcraftProfile.career.zergWins) }}</dd>
                            </dl>
                        </div>
                    </div>
                    <hr>
                    <h3>Campaign</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Wings of Liberty</h4>
                            <span>{{ starcraftProfile.campaign.wol }}</span>
                        </div>
                        <div class="col-md-4">
                            <h4>Heart of the Swarm</h4>
                            <span>{{ starcraftProfile.campaign.hots }}</span>
                        </div>
                        <div class="col-md-4">
                            <h4>Legacy of the Void</h4>
                            <span>Coming Soon...</span>
                        </div>
                    </div>
                    <hr>
                    <h3>Swarm Levels</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Terran</h4>
                            Level {{ starcraftProfile.swarmLevels.terran.level }}
                            <progressbar value="percent(starcraftProfile.swarmLevels.terran.currentLevelXP, starcraftProfile.swarmLevels.terran.totalLevelXP)">
                                {{ starcraftProfile.swarmLevels.terran.currentLevelXP }} / {{ starcraftProfile.swarmLevels.terran.totalLevelXP }}
                            </progressbar>
                        </div>
                        <div class="col-md-4">
                            <h4>Zerg</h4>
                            Level {{ starcraftProfile.swarmLevels.zerg.level }}
                            <progressbar value="percent(starcraftProfile.swarmLevels.zerg.currentLevelXP, starcraftProfile.swarmLevels.zerg.totalLevelXP)">
                                {{ starcraftProfile.swarmLevels.zerg.currentLevelXP }} / {{ starcraftProfile.swarmLevels.zerg.totalLevelXP }}
                            </progressbar>
                        </div>
                        <div class="col-md-4">
                            <h4>Protoss</h4>
                            Level {{ starcraftProfile.swarmLevels.protoss.level }}
                            <progressbar value="percent(starcraftProfile.swarmLevels.protoss.currentLevelXP, starcraftProfile.swarmLevels.protoss.totalLevelXP)">
                                {{ starcraftProfile.swarmLevels.protoss.currentLevelXP }} / {{ starcraftProfile.swarmLevels.protoss.totalLevelXP }}
                            </progressbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>