<div id="travel">
    <div id="map" class="animated fadeIn delay-short"></div>

    <div class="top">
        <dl>
            <dt i18n="travel.continentsLabel"></dt><dd id="countries">{{ continentsVisited }}</dd>
            <dt i18n="travel.countriesLabel">Countries</dt><dd id="countries">{{ countriesVisited }}</dd>
            <dt i18n="travel.citiesLabel">Cities &amp; Towns</dt><dd id="cities">{{ citiesVisited }}</dd>
        </dl>
    </div>

    <div class="row trips">
        <div ng-repeat="trip in trips | orderBy:'startDate':true track by $index" class="col-sm-4">
            <div class="trip">
                <div class="title">
                    <h3>{{ trip.name }}</h3>
                    <div class="date">{{ formatStartEndDates(trip.startDate, trip.endDate) }}</div>
                </div>
                <div class="photos">
                    <p ng-if="trip.photos.length==0" class="no-photo"><i class="fa fa-image"></i>No Photos :(</p>
                    <a ng-repeat="photo in trip.photos | limitTo:3" href="{{ photo.url }}" title="{{ photo.title }}" class="photo-container">
                        <img src="{{ photo.thumb }}" alt="{{ photo.title }}" class="photo" />
                    </a>
                </div>
                <div class="desc">
                    <ul>
                        <li ng-repeat="poi in trip.pointsOfInterest">
                            <a href="{{ poi.url }}">{{ poi.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
